@font-face {
font-family: "Open Sans";
src: url("../fonts/Lovelo_Black.woff") format('woff');
}         
            body {
                overflow-x:hidden;
            }
            input::-webkit-input-placeholder {
                color: rgba(255,255,255, 0.6) !important;
            }
            .lovelo_font {
                font-family: 'Open Sans';
            }
            input:-moz-placeholder { /* Firefox 18- */
                color: rgba(255,255,255, 0.6) !important;  
            }
 
            input::-moz-placeholder {  /* Firefox 19+ */
                color: rgba(255,255,255, 0.6) !important;  
            }
 
            input:-ms-input-placeholder {  
                color: rgba(255,255,255, 0.6) !important;  
            }
            
            .home-input input[type="text"]::-webkit-input-placeholder {
                color:  #8F8F8F!important;
            }
 
            .home-input input[type="text"]:-moz-placeholder { /* Firefox 18- */
                color: #8F8F8F !important;  
            }
 
            .home-input input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
                color: #8F8F8F !important;  
            }
 
            .home-input input[type="text"]:-ms-input-placeholder {  
                color: #8F8F8F !important;  
            }

            .mot_header {
                    background: url(../image/3.png)repeat;
                background-size: 3px !important;
                margin-left: 0px !important;
                margin-right: 0px !important;
                background-size: 100%;
                padding-bottom: 56px;
               /* background: rgba(0, 0, 0, 0.46);*/
                 /*   background: rgba(104, 176, 226, 0.52);*/
            }
           /* .mot_header p
            {
                color: #000 !important;
            }*/
            .mot_header video {
                position: fixed;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                z-index: -100;
                transform: translateX(-50%) translateY(-50%);
                background-size: cover;
                transition: 1s opacity;
            }
            .videobackground
            {
                position: absolute;
                width: 100%;
            }
            .mot_our_story {
                margin-left: 0px !important;
                margin-right: 0px !important;
                padding-top: 5%;
                padding-bottom: 5%;
                background: #fff;
            }
            .mot_our_services {
                margin-left: 0px !important;
                margin-right: 0px !important;
                background-color: #211E35;
                padding-top: 6%;
                padding-bottom: 3%;
            }
            .mot_statistics {
                margin-left: 0px !important;
                margin-right: 0px !important;
                padding-top: 8%;
                padding-bottom: 9%;
            }
            .mot_free_trail {
                margin-left: 0px !important;
                margin-right: 0px !important;
                padding-top: 50px;
                padding-bottom: 70px;
                background: url("../image/blue.jpg");
            }
            .mot_social_networking {
                background: #fff;
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
            .mot_footer {
                margin-left: 0px !important;
                margin-right: 0px !important;
                background-color: #211E35;
                /*text-align: center;*/
                padding-top: 3%;
                padding-bottom: 2%;
            }
            .footer-heading {
                color: #fff;
                padding-bottom: 10px;
            }
            .footer-address {
                color: #969696;
            }
            .line-styling-3 {
                width: 100%;
                border-bottom: 1px solid #969696 !important;
                margin-top: 20px;
            }
            .heading {
                width: 100%;
                float: left;
            } 
            .logo_div {
                width: 100%;
                float: left;
            
            }
            .footer-heading1 {
                padding-left: 20px;
                float: left;
                color: #fff;
            }
            .logo {/*
                text-align: center;*/
                color: white;
                padding-left: 0px;
                float: left;
                top: -30px;
                left: 30px;
            }
            .logo h1 {
                color: #fff;
                font-size: 40px;
                font-weight: 500;
            }
            
            .header {
                text-align: right;
                float: right;
            }
            .header a {
                text-decoration: none !important;
                margin-right: 19px;
                font-family: 'Open sans';
                font-size: 18px;
                color: white !important;
            }
            .mobile_logo {
                font-size: 18px;
                margin-bottom: 5px;
                color: #fff;
                margin-top: 20px;
                float: left; 
            }
            .mobile_logo h4 {
                color: #fff;
                font-weight: 600;
            }
            .mobile_heading {
                display: none !important;
                color: white;
                font-size: 26px;
                position: fixed;
                background-color: #364554;
                width: 100%;
                float: left;
                z-index: 9999;
            }
            .mobile_nav {
                float: right;
                font-weight: 600;
                margin-top: 10px;
                margin-right: 20px;
            }
            .drop_down_menu {
                display: none;
                background-color: #364554;
                width: 100%;
                float: left;
                color: white;
                font-size: 18px;
                position: fixed;
                z-index: 999;
                top: 58px;
            }
            .menu_expand {
                text-align: center;
                list-style: none;

            }
            .mobile_tabs {
                border-bottom: 1px solid #fff;
            }
            .content {
                text-align: left;
                color: #fff;
                float: left;
                   padding: 30px;
                   text-align: center;
    /*background: rgba(255, 255, 255, 0.26);*/
    /*    background: rgba(255, 255, 255, 0.69);*/
            }
            .heading {
                padding-top: 50px;
                
            }
            .logo h1 {
                margin-top: -15px;
            }
        
            .content-part {
                width: 100%;
                float: left;
                padding-top: 53px;
            }
            .content-heading {
                font-size: 48px;
                line-height: 1.2em;
                padding-bottom: 15px;
                font-weight: 600;
            }
            .content-sub-heading {
                    font-size: 20px;
                  /*  font-weight: bold;*/
            }
            #btn {
            color: #3593D3;
            background-color: #f1f1f1;
            padding: 12px;
            padding-left: 30px;
            padding-right: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            border: 2px solid #f1f1f1;
            border-radius: 3px;
            letter-spacing: 1px;
            font-size: 16px;
            }
            #btn:hover {
                color: #3593D3;
                background-color: #f1f1f1;
            }
            #btn:focus {
                outline: none;
            }
            #btn_learn_more {
                margin-top: 15px;
                background-color: rgba(199, 199, 199, 0);
                color: #8392a0;
                padding: 12px;
                padding-left: 30px;
                padding-right: 30px;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
                border: 2px solid #8392a0;
                border-radius: 3px;
                letter-spacing: 1px;
                font-size: 16px;
            }
            #btn_learn_more:hover {
                color: #3593D3;
                background-color: #f1f1f1;
            }
            #btn_learn_more:focus {
                outline: none;
            }
            .btn1 {
                padding-top: 20px;
            }
            .take_a_tour
            {
                text-decoration: underline;
                font-style: italic;
                font-size: 20px;
                font-weight: bolder;
                margin-left: 5px;  
                cursor: pointer;
            }
             .take_a_tour:hover
            {
                text-decoration: underline !important;
            }
            .top_image {
                background: url("../image/Layer-0.png") no-repeat;
                height: 450px;
                width: 510px;
                float: right;
                margin-top: 30px;
            }
           
            .second-part {
                padding: 0px !important;
                float: left;
            }
            .our-story-image-div {
                text-align: left;
                float:left; 
                margin-top: 35px;
            }
            .our-story-image {
                width: 100%;
                padding-left: 2%;
                padding-right: 20%;
                padding-top: 90px
            }
            .our-story-content {
                padding-top: 15px;
                text-align: center;
            float: left;
            }
            .our-story-heading{
                font-size: 58px;
            }
            .our-story-para1 {
                    text-align: left;
                font-size: 18px;
                padding-bottom: 30px;
                padding-top: 10px;
                /*color: #7193bf;*/
                    color: #7a8085;
            }
            .our-story-para2 {
                font-size: 14px;
                color: #8392a0;
                line-height: 1.7em;
            }
            .services {
                width: 100%;
                float: left;
            }
            .third-part {
                text-align: center;
                float: left;
                color: #fff;
                width: 100%;
            }
            .services-heading {
                font-size: 48px;
                color: #fff;
            }
            .services-sub-heading {
                color: #b8c9d8;
                font-size: 20px;
                line-height: 1.5em;
            }
            .line-styling {
                width: 100%;
                border-bottom: 1px solid #b8c9d8 !important;
                margin-top: 40px;
            }
            .services-image {
                width: 34%;
        float: left;
        
            }
            .icon {
                width: 80px;
                height: 79px;
                float: left;
                background-size: 100%;
        background-repeat: no-repeat;
        transition: all 500ms ease;
        border-radius: 100px;
            }

            .services-text {
                float: left;
                width: 66%;
            }
            .service-text-heading {
                color: #fff;
                margin-bottom: 9px !important;
                font-size: 18px;
            }
            .service-text-sub-heading {
                color: #afb6bc;
            }
            .tile {
                float: left;
                padding-bottom: 15px;
                min-height: 215px;
            }
            .services {
                padding-top: 20px;
                padding-bottom: 50px;
            }
            .fourth-part {
                float: left;
            }
            .downloads-image {
                width: 100%;
                float: left;
                padding-bottom: 15px;
            }
            .next_icon {
                height: 89px;
                width: 90px;
                margin-left: auto;
                margin-right: auto;
                background-size: 100%;
                transition: all 500ms ease;
        border-radius: 100px;
            }

            .downloads-image-description {
                width: 100%;
                float: left;
                text-align: center;
            }
            .download-number {
                font-size: 60px;
                color: #8392a0;
                line-height: .9em;
            }
            .download-name {
                font-size: 14px;
                color: #262f38;
                font-weight: 600;
            }
            .tile2 {
                float: left;
            }
            .fifth-part {
                
                float: left;
                color: #fff;   
            }
            .contacts-heading {
                color: #fff;
            }
            .line-styling-2 {
                width: 100%;
                border-bottom: 1px solid #fff !important;
                    margin-top: 40px;   
            }
            .features_heading {
                text-align: center;
                color: #fff;
                opacity: 1;
                font-size: 40px;
            }
            .free_trail_form_right {
                text-align: center;
            }
            .line_styling_features {
                margin-top: 0px;
                margin-bottom: 20px;
                width: 13%;
                opacity: 1;
                margin-right: auto;
                margin-left: auto;
                border-top: 1px solid #fff;
            }
            .listing {
                font-size: 18px;
                font-family: sans-serif;
                margin-bottom: 7px;
                padding: 7px;
                text-align: left;
            }
            .contact-form {
                margin-bottom: 18px !important;
                font-size: 16px !important;
                height: 50px !important;
                border-radius: 2px !important;
                background-color: transparent;
                text-align: center;
                border: 1px solid #fff;
                opacity: 1;
                width: 95%;
                float: left;
                /*margin-left: auto;
                margin-right: auto;*/
                color: #fff;
            }
            .contact-form_div span
            {
                width: 100%;
            }
            .contact-form_div i
            {
                float: right;
                margin-top: 15px;
                font-size: 18px;
                cursor: pointer;
            }
            .contact-form_div
            {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .contact-form:focus {
                outline: none;
                border:1px solid #fff;
            }
            .contact-form:hover {
                outline: none;
                border:1px solid #fff;
            }
            .accept {
                font-weight: 300;
            }

            .trail_button {
                padding-top: 15px;
                padding-bottom: 10px;
                
            }
            #btn2 {
                margin-right: auto;
                margin-left: auto;
                padding: 10px;
                background-color: #fff;
                height: 55px;
                border-radius: 5px;
                width: 50%;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: .7px;
            }
            #btn2:focus {
                outline: none;
                border:0;
            }
            .sixth-part {
                float: left;
            }
            .social-left-part {
                padding-top: 9%;
                text-align: center;
                border-right : 1px ridge #f3f4f5;
                padding-bottom: 9%;
            }
            .social-right-part{
                padding-top: 9%;
                text-align: center;
                padding-bottom: 9%;

            }
            .icons{
                padding: 0px 0px 0px 0px;
                display: inline-block;
                width: 50px;
                height: 50px;
                border: 2px solid #F3F4f5;
                border-radius: 100%;
                text-align: center;
                margin-right: 5px;
            }
           /* .icons:hover {
                border: 2px solid #3593D3;
            }*/
            .icons_facebook:hover {
                border: 2px solid #3b5998;
            }
            .icons_youtube:hover {
                border: 2px solid #cc181e;
            }
          /*  .icons:hover .fo {
                color:  #3593D3;
            }*/
              .icons_facebook:hover .fo {
                color:  #3b5998;
            }
              .icons_youtube:hover .fo {
                color:  #cc181e;
            }
            .fo {
                    color: #8F8F8F;
                    font-size: 20px !important;
                    padding-top: 13px;
            }
            .sixth-part-heading {
                    line-height: 0.5em;
                    letter-spacing: 0px;
                    font-weight: 500;
            }
            .sixth-part-sub-heading {
                padding-bottom: 20px;
                margin-top: 15px !important;
            }
            #mail {
                height: 50px;
                font-size: 20px;
            }
            .home-input{
                border-radius: 2px;
            }
            #home-search-form{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
            #mail:focus {
                outline: 0 !important;
                outline-offset: 0 !important;
            }
            .form-control:focus {
                border-color: none !important;
            }
            .input-group-btn {
                position: relative;
                font-size: 0;
                white-space: nowrap;
            }
            .mail_btn {
                background-color: #8F8F8F;
                border-radius: 4px;
                padding: 15px;
                border-left: 0px;
                box-shadow: none;
                border: 0px;
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px; 
            }
            .mail_btn i{
                font-size: 20px;
                color: #fff;
            }
            .mail_btn:focus {
                outline: 0 !important;
                outline-offset: 0 !important;
            }
            .check1{
                    font-size: 20px;
                   padding-right: 20px;
            }
            .laptop {
                    padding-right: 0px;
                }
                .free_trail_form_left {
                    text-align: center;
                }
                .free_trail_form_left img{
                    width: 100%;
                    padding-top: 170px;
                }
            @media only screen and (max-width: 1249px  ) and (min-width: 993px){
                .mot_header {
                    padding-bottom: 174px;
                }
                .content {
                    
                }
                /*.mot_our_story {
                margin-left: 0px !important;
                margin-right: 0px !important;
                padding-top: 10%;
                padding-bottom: 5%;
                }
*/
            }
            @media only screen and (max-width: 992px  ) and (min-width: 768px) {
                .content {
                   
                }
                .content-heading {
                    font-size: 48px;
                }
                .content-sub-heading {
                    font-size: 24px;
                }
                .mot_header {
                    padding-bottom: 21%;
                }
                .tile {
                    width: 50%;
                    float: left;
                }
                .tile2 {
                    width: 25%;
                    float: left;
                }
                .social-left-part {
                    width: 50%;
                    float: left;
                }
                .social-right-part {
                    width: 50%;
                    float: left;
                }
                .free_trail_form_left {
                    width: 50%;
                    float: left;
                }
                .free_trail_form_right {
                    float: left;
                    text-align: center;
                    width: 50%;
                }
                .contact-form {
                    width: 100%;
                }
                #btn2 {
                    width: 50%;
                }
                
            }
            @media only screen and (max-width: 767px  ) and (min-width: 601px) {
                .content {
                    padding-top: 5%;
                    width: 100%;
                    text-align: center;
                }
                .content-part {
                    text-align: center;
                    width: 100%;
                    float: left;
                    padding-top: 8%;
                    padding-bottom: 10px;
                }
                .content-heading {
                    font-size: 38px;
                }
                .content-sub-heading {
                    font-size: 22px;
                }
                .mot_header {
                    padding-bottom: 10px;
                }
                .mot_our_story {
                    text-align: center;
                    padding-top: 0;
                }
                .our-story-image-div {
                    text-align: center;
                    float: none;
                }
                .our-story-image {
                    padding: 10%;
                }
                .tile {
                    width: 50%;
                }
                .tile2 {
                    width: 50%;
                }
                .free_trail_form_left {
                    width: 100%;
                    float: left;
                    padding-bottom: 1%;
                }
                .free_trail_form_right {
                    float: left;
                    text-align: center;
                    width: 100%;
                }
                .contact-form {
                    width: 100%;
                }
                #btn2 {
                    width: 40%;
                }
                .social-left-part {
                    border-right: none;
                }
                
            }
            @media only screen and (min-width: 480px ) and (max-width: 600px) {
                .mot_header {
                    padding-bottom: 15px;
                }
                .content {
                    padding-top: 17%;
                    width: 100%;
                }
                .content-heading {
                    font-size: 30px;
                }
                .content-sub-heading {
                    font-size: 18px;
                }
                .tile {
                }
                .tile2 {
                    width: 100%;
                    padding-bottom: 10px;
                }
                .mot_our_story {
                    text-align: center;
                }                
                .our-story-image-div {
                    text-align: center;
                    float: none;
                }
                .our-story-image {
                    padding: 10%;
                }
                .free_trail_form_left {
                    width: 100%;
                    float: left;
                    padding-bottom: 1%;
                }
                .free_trail_form_right {
                    float: left;
                    text-align: center;
                    width: 100%;
                }
                .contact-form {
                    width: 100%;
                }
                #btn2 {
                    width: 50%;
                }
                .social-left-part {
                    border-right: none;
                }
            }
            @media only screen and (max-width: 479px) and (min-width: 320px){
                .mot_header {
                   /* background: url("../image/download.jpg") fixed no-repeat;*/
                    padding-bottom: 5%;
                    background-size: 100%;
                }
                .header {
                    display: none;
                }
                .content {
                    padding-top: 20px;
                    width: 100%;
                    text-align: center;
                }
                .btn1 {
                width:100%; 
            }
                .content-heading {
                    font-size: 24px;
                    text-align: center;
                }
                .content-sub-heading {
                    font-size: 18px;
                }
                #btn {
                    width: 100%;
                    font-size: 14px;
                }
                .our-story-image {
                    padding-right: 0px;
                    padding-left: 0px;
                }
                .mot_our_services {
                    padding-top: 12%;
                }
                .services-image {
                    float: left;
                    margin-left: 35%;
                    text-align: center;
                }
                .services-text {
                    float: left;
                    width: 100%;
                    text-align: center;
                    padding-top: 10px;
                }
                .tile2{
                    width: 100%;
                    text-align: center;
                }
                .contact-form {
                    width: 100%;
                }
                #btn2 {
                    width: 100%;
                }
                .social-left-part {
                    border-right: none;
                }
                #home-search-form {
                    width: 100%;
                }
                .fo {
                    font-size: 16px !important;
                    padding-top: 11px;
                }
                .icons {
                    width: 40px;
                    height: 40px;
                    margin-right: 3px;
                }
                .our-story-content {
                    text-align: center;
                }
                .our-story-heading {
                    font-size: 50px;
                }
                .top_image {
                    height: 250px;
                }
                .free_trail_form_left img {
                    padding-top: 0px;
                }
                .contact-form_div {
                    width: 100%;
                }
                .contact-form_div i {
                    display: none;
                }
                .sixth-part-heading {
                    line-height: 1.5em;
                }
            }
            @media only screen and (max-width: 768px) {
                .mobile_heading {
                    display: block !important;
                }
                .heading {
                    display: none !important;
                }
                .top_image {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    float: none;
                }
                .laptop {
                        padding-right: 15px;
                    width: 100%;
                    float: left;
                    padding-top: 15px;
                }
                .mot_header {
    background-size: 100%;
}
            }

            @media only screen and (min-width: 768px) {
                .content {
                    -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
                }   
                @-webkit-keyframes fadeInRight {
            0% {
               -webkit-transform: translateX(200px);
            }
            100% {
               -webkit-transform: translateX(0);
            }
         }
         
         @keyframes fadeInRight {
            0% {
               transform: translateX(200px);
            }
            100% {

               transform: translateX(0);
            }
         }
         .fadeInRight {
            -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
            transition: transform 1s;
        }

        @-webkit-keyframes fadeInLeft {
            0% {
               -webkit-transform: translateX(-200px);
            }
            100% {
               -webkit-transform: translateX(0);
            }
         }
         
         @keyframes fadeInLeft {
            0% {
               transform: translateX(-200px);
            }
            100% {

               transform: translateX(0px);
            }
         }
         .fadeInLeft {
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
            transition: transform 1s;
            /*animation-duration: 5s;*/

        }
        .top_image {
            -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
         #scrollTeaser{
    position: absolute;
    z-index: 100;
    bottom: 90px;
    right: 3%;
    margin-left: -15px;
    width: 75px;
    height: 50px;
    display: block; 
     

}

#scrollTeaser>div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
    width: 75px;
    height: 31px;
    display: none;
}
#scrollTeaser-down1 {
background:url("../image/down1.png");
top:0px;
}
#scrollTeaser-down2 {
background:url("../image/down2.png");
top:20px;
}
#scrollTeaser-down3 {
background:url("../image/down3.png");
top:40px;
}
            .tile:hover .icon  {
                background-position: 0px -79px !important;
                cursor: pointer;
            }
            .tile:hover .service-text-heading {
                cursor: pointer;
            }
            .tile2:hover .next_icon {
                background-position: 0px -89px !important;
                cursor: pointer;
            }
}
.selectize-control {
    padding: 0px !important;
    border: none !important;
}
.selectize-control.single .selectize-input
{
    padding: 13px !important;
    box-shadow: none !important;
    border-color: #fff !important;
    border-radius: 3px !important;
    background: #00aae5;
    font-size: 16px;
    color: #fff;
}
.selectize-dropdown-content
{
    background: #fff;
    border-top:none;
    border: 1px solid #e5e5e5 ;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
     background: #00aae5 !important;
 }

 .home-widget-video {
    font-size: 13px;
    color: #fff;
    font-style: italic;
    cursor: pointer;
    font-weight: normal;
}
.trail-watch-a-video {
    width: 100%;
    float: left;
}
.take-tour {
        width: 50%;
    float: left;
    padding-top: 30px;
}
.logo1 img {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

.logo1 img:hover {
    -webkit-transform: rotateX(0deg) rotateY(-360deg);
    -moz-transform: rotateX(0deg) rotateY(-360deg);
    -o-transform: rotateX(0deg) rotateY(-360deg);
}

.selectize-input > input
    {
        font-size: 16px !important;
        text-align: center !important;
    }
    video#videobg { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../image/banner.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
 @media only screen and (max-width: 1920px  ) and (min-width: 1441px){
.mot_our_story_body {
    width: 1500px !important;
}
.content-part
{
    padding-top: 133px !important;
    padding-bottom: 133px !important;
}
.mot_header
{
    background-size: 4px !important;
}
}
/*.logo1{
=======

@media only screen and (min-width: 1920px  ) {
  .content-part
{
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}  
.mot_header
{
    background-size: 3px !important;
}
    }
/*.logo1 img 
{
    background: rgba(255, 255, 255, 0.69);
    padding: 6px;
}*/
/*.header a
{
    color: #000 !important;
}*/
.header a:hover {
    color: #2f99d3 !important;
    padding-bottom: 11px !important;
    border-bottom: 3px solid #2f99d3;
}
.header a:active {
    color: #2f99d3 !important;
}
.lang_a_tag{
        margin: auto;
    cursor: pointer;
    padding: 11px;
    border: 3px solid rgb(47, 153, 211);
    font-style: initial;
}
.our-story-point
{
    text-align: left;
}
.underline_on_hover
{
    text-decoration: underline;
}
.underline_on_hover:hover
{
    text-decoration: underline;
}

/*.tooltip-inner {
    position: relative  !important;
    top: -45px !important;
    left: 58% !important;
    max-width: 200px !important;
    padding: 3px 8px !important;
    color: #fff !important;
    text-align: center !important;
    background-color: #000 !important;
    border-radius: 4px !important;
}

.tooltip.bottom .tooltip-arrow {
    top: -15px !important;
    left: 57% !important;
    margin-left: -5px !important;
    border-width: 0 5px 5px !important;
    border-bottom-color: #000 !important;
    transform: rotate(270deg) !important;
}*/


 @media screen and (min-width: 992px) and (max-width: 1024px) {
    .logo{
        width: 15% !important;
    }

    .header{
        width: 85% !important;
    }
 }