       body {
        font-family: 'Open Sans';
       }
       .modal-title {
        font-family: 'Open Sans';
       }
       .modal-body {
            padding: 0px 0 !important;
       }
       .modal .modal-dialog .modal-content {
        padding: 15px !important;
       }
        input::-webkit-input-placeholder {
            color: rgba(255,255,255,0.8) !important;
        }
 
        input:-moz-placeholder { /* Firefox 18- */
            color: rgba(255,255,255,0.8) !important;  
        }
 
        input::-moz-placeholder {  /* Firefox 19+ */
            color: rgba(255,255,255,0.8) !important;  
        }
 
        input:-ms-input-placeholder {  
            color: rgba(255,255,255,0.8) !important;  
        }
        .mot_login {
            margin-right: 0px !important;
            margin-left: 0px !important;
            background : url("../image/BG.jpg") fixed no-repeat;
            background-size: 100%;
            background-size: cover;
            min-height: 100%;
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            left: 0;
        }

        .ca_bg{
            background : url("../image/ca_login.jpg") fixed no-repeat;
            background-size: 100%;
            background-size: cover;

        }
        .mot_login_heading {
            font-size: 36px;
            color: #328FD2;
            padding-top: 15px;
        }
        .mot_login_form {
            position: relative;
            top: 150px;
            height: 335px;
            width: 450px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 3px;

        }
        input[type=text],
        input[type="password"] {
            background-color: rgba(255,255,255, 0.2);
            margin-top: 10px;
            width: 100%;
            height: 45px;
            font-size: 16px;
            margin-bottom: 6px;
            padding-left: 12px;
            border: 0px;
            border-radius: 100px;
            color: #fff;
        }
        #field-1 {
            background: rgba(0,0,0,0.6);
        }
        form {
            margin: 0 auto;
            margin-top: 20px;
        }
        .left-inner-addon {
            position: relative;
            width: 100%;
            float: left;
        }
        .left-inner-addon input {
            padding-left: 44px;    
        }
        .left-inner-addon i {
            position: absolute;
            left: 0px;
            padding: 22px 15px;
            padding-left: 17px;
            margin-top: 3px;
            pointer-events: none;
            font-size: 16px;
            color: rgba(255,255,255,0.8);
        }
        .img_back {
            background: url("../image/message.png") no-repeat left center;
            float: left;
    background-size: 4% 38%;
    background-position-x: 99%;
    background-position-y: 87%;
    border-radius: 4px;
    width: 100%;
        }
        #sign_in {
            background-color:#328FD2;
            height: 40px !important;
            padding: 10px;
            margin-top: 14px;
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            border: 0px;
            border-radius: 2px;
            color: rgba(255,255,255,0.8);
        }
        #mail_send {
            background-color:#328FD2;
            height: 40px !important;
            padding: 10px;
            margin-top: 20px;
            border: 0px;
            border-radius: 2px;
            color: rgba(255,255,255,0.8);
        }
        .cant_access_label {
            color: rgba(255,255,255,0.8);
        }
        .cant_access_label:hover {
            color: rgba(255,255,255,0.8);
            text-decoration: none;
        }
        label[for='cant_access'] {
            width: 100%;
            font-weight: 500;
            margin-top: 9px;
            text-align: center;
        }
        label[for='field-1'] {
            font-size: 15px; 
        }
        input[type=text],
        input[type="password"]:active {
            border:0px;
            outline: none;
        }
        input[type=text],
        input[type="password"],
        #sign_in:focus {
            border:0px;
            outline: none;
        }
        #sign_in:active {
            outline: none;
        }
        .modal .modal-dialog .modal-content {
            border-radius: 2px !important;
        }
        @media only screen and (min-width: 320px) and (max-width: 480px) {
            .mot_login_form {
                top: 15px;
                height: 310px;
                width: 100%;
            }
            .mot_login {
                padding-bottom: 0px;
                /*background :url("../image/mobile-login.jpg") no-repeat;*/
                /*background-size: 100% !important;*/
            }
            .mot_login_heading {
                font-size: 28px;
            }
        }
        @media only screen and (min-width: 480px) and (max-width: 600px) {
            .mot_login_form {
                top: 50px;
                height: 310px;
                width: 100%;
            }
            .mot_login {
                padding-bottom: 0px;
                
                /*background-size: 100% !important;*/
            }
            .mot_login_heading {
                font-size: 32px;
            }
        }

        @media only screen and (min-width: 601px) and (max-width: 767px) {
            .mot_login_form {
                top: 150px;
                height: 310px;
                width: 500px;
                left: 20px;
            }
            .mot_login {
                padding-bottom: 280px;
                 
            }
        }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
            .mot_login {
                
                
                /*background-size: 100% !important;*/
            }
        }
        @media (min-width: 768px) {
        .modal-dialog {
            width: 400px;
            margin: 170px auto;
             }
        }
        #password {
            margin-bottom: 12px;
        }