@font-face {
font-family: Lovelo;
src: url("../fonts/Lovelo Black.otf") format("opentype");
}

@font-face {
font-family: Lovelo;
font-weight: bold;
src: url("../fonts/Lovelo Line Bold.otf") format("opentype");
}