::-webkit-scrollbar {
width: 6px;
}
::-webkit-scrollbar-thumb {
background-color: #67B0E1;
}
::-webkit-scrollbar-track {
background-color: #D4D4D4;
}
body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
    .logo {

    }
    /*.mot_dashboard_profile_time {
        float: left;
        padding-top: 25px;
        width: 60%;
    
    }
    .sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
        background-color: #2392ec;
        
    }
    .user-info-navbar .user-info-menu > li {
        border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
        color: #fff !important;
        border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
        font-size: 22px;
    }
    .mot_header_lists {
        border: 0px;
    }
    .profile_time_list {
        list-style: none;
        border: 1px solid #4e91be;
        background-color: #4e91be;
        width: 100%;
        margin-right: auto;
        margin-left: auto; 
        padding-left: 0px;
        border-radius: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
    }
    .current_stats {
        display: inline; 
        border-right: 1px solid #fff;
        padding-right: 10px;
        padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
        border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
        background-color: #f8f8f8 !important; 
        top: 24px !important;
        right: 15px !important;
        color: #53A2CA;
        min-width: 16px;
    }
    .profile_options {
        list-style: none;
    }
    .profile_options_listing {
        display: inline; 
    }
    .mot_dashboard_profile_item {
        padding-top: 20px;
        text-align: right;
        font-size: 16px;
        float: right;
    }
    .user_name {
        color: #fff;
        font-size: 14px !important;
    }
    .user_name i {
        font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }*/
    .link {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 10px;    
        float: left;
    }
    .mot_template {
        margin-left: 0px;
        margin-right: 0px;
    }
    .top_list {
        margin-right: 10px;
    }
    .top_list a {
        padding-left: 50px !important;
        padding-right:50px !important;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
    }
    .top_anchor {
        font-weight: 600;
        font-size: 12px !important;
    }
    .active .top_anchor {
        color:#2392ec !important;
    }
    .active .top_anchor:focus {
        border: 0 !important;
    }
    .custom {
        padding: 10px 15px 5px 15px !important;
        margin-bottom: 10px !important;
        float: left;
        width: 100%; 
    }
    .left {
        padding-left: 0px;
        padding-right: 4px;
            width: 100%;
    }
    .center {
        padding-left: 4px;
        padding-right: 4px;
    }
    .right {
        padding-left: 4px;
        padding-right: 0px;
    }
    .temp_title {
        width: 100%;
        float: left;
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 5px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 5px rgba(0,0,0,0.2);
        border-radius: 3px;
    }
    .basic_info {
        padding: 10px 0px 0px 15px;
        font-size: 12px;
        font-weight: bold;
        border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .basic_info p {
        margin-bottom: 0px;
        padding-bottom: 9px;
            font-size: 14px;
    font-weight: 400;
    }
    .basic_info_body {
        width: 100%;
        float: left;
    }
    .basic_info_list {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f9f9f9;
    }
    .basic_info_title {
        float: left;
        padding: 10px 0px 10px 15px;
    }
    .basic_info_title p {
        font-size: 12px;
    }
    .basic_info_value {
        float: right;
        padding: 10px 15px 10px 0px;
    }
    .basic_info_value a i {
        color: #979898;
    }
    .xe-widget.xe-conversations {
        padding: 0px;
        margin-bottom: 10px;
    }
    .xe-widget.xe-conversations .xe-body ul > li
     {
        margin:0px;
         border: 0px;
    }
    .grey {
        background-color: #f5f5f5;
    }
    .float_button {
        float: right;
    }
    .circular_button {
        border-radius: 50%;
        bottom: 40px;
        right: 60px;
        position: fixed;
        z-index: 99;
        background-color: #2392ec;
        border: 0; 
        min-width: 60px;
        min-height: 60px;
        color: #ffffff;
    }
       .circular_button:hover{
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.24);
      }
    .circular_button:focus {
        outline: 0;
        border: 0;
    }
    .add_temp_text {
        color: #fff;
        font-size: 9px;
        margin-bottom: 0px !important;
    }
    .fade {
        font-family: 'Open Sans';
    }
    #save_btn {
        width: 40%;
        border-radius: 3px;
        border: 0px;
        background-color: #2392ec;
    }
    .form-group {
    margin-bottom: 15px;
    }
.sort {
    width: 100%;
    float: left;
}
.arrow_background{
    float: right;
    background: url("../images/arrow.png") no-repeat right #fff;
    background-size: 4% 38%;
    background-position-x: 99%;
    background-position-y: 87%;
    border-radius: 4px;
    width: 100%;
}
.arrow_background select{
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
}
.form-control {
    color: #000;
}
.form-control:focus, .form-control:active {
    border: 1px solid #e4e4e4;
    outline: none;
}

    .right-inner-addon {
position: relative;
width: 205px;
}
.right-inner-addon input {
padding-right: 30px;
border-radius: 39px; 
height: 28px;   
}
.right-inner-addon i {
position: absolute;
right: 0px;
padding: 7px 12px;
pointer-events: none;
font-size: 13px;
}
.arrow_background1{
float: right;
background: url("image/arrow.png") no-repeat right #fff;
background-size: 11% 41%;
background-position-x: 96%;
background-position-y: 83%;
border-radius: 4px;
}
.arrow_background1 select{
border: none;
-webkit-appearance: none;
background: transparent;
color: #2392ec;
padding-right: 16px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 13px;
}

    #template_start{
        cursor: pointer;
        background: #fff;
    }
    #template_end{
        cursor: pointer;
        background: #fff;
    }
/*  .td-clock{
            top: 476px !important;
    }*/
    .error_msg{
    text-align: center; 
    font-size: 20px; 
    height: 500px; 
    margin-top: 10px;

}
 .inputdiv {
    border: 1px solid #e4e4e4;
    color: #555555;
    font-size: 12px;
    padding: 3px;
    width: 70px;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px !important;
    cursor: pointer !important;
    background: #fff!important;
}
.dropdown-menu.dropdown-primary > li > a:hover {
    background-color: rgba(158, 158, 158, 0.16);
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:active, .btn.active
{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu.dropdown-primary > li > a {
    color: #666;
}
.responsive_table {
    width:100%;
    margin-left:auto; 
    margin-right:auto;
}
    @media only screen and (max-width: 600px) {
        .left {
        padding-left: 0px;
        padding-right: 0px;
    }
    .center {
        padding-left: 0px;
        padding-right: 0px;
    }
    .right {
        padding-left: 0px;
        padding-right: 0px;
    }
    }
    @media (min-width: 768px) {
/*.templateform{
    width: 43%;
}*/
.add{
    cursor: pointer;
    font-weight: bold;
        margin-right: 12px !important; 
}
.remove{
    cursor: pointer;
    font-weight: bold;
}
.add1{
    cursor: pointer;
    font-weight: bold;
        margin-right: 12px !important;
}
.remove1
{
    cursor: pointer;
    font-weight: bold;
}
.pointer
{
    cursor: pointer !important; 
        background: #fff !important;
}
}
.custom {
  padding: 10px 15px 10px 10px !important;
}
.extra_padding {
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  vertical-align: top;
}
.ePadding {
    padding-bottom: 18px;
  text-align: center;
  vertical-align: top;
      width: 20%;
}
.right_border {
 /* border-right: 1px solid #e5e5e5;*/
}
.cbr-replaced.cbr-blue.cbr-checked.cbr-radio .cbr-state span {
    background: #2392ec;
}
.cbr-replaced.cbr-blue .cbr-state {
    border-color: #2392ec;
}
.radio-inline {
    padding-left: 15px;
        color: #333;
  }
.arrow_background {
        float: right;
    background: url("../image/arrow.png") no-repeat right #fff;
        background-size: 3% 42%;
    background-position-x: 43%;
    background-position-y: 84%;
    border-radius: 2px;
}
.dropdown-sort {
	    outline: none;
    border: 1px solid #e5e5e5;
    color: #333;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
    border-radius: 3px;
    width: 45%;
}
.dropdown-sort1 {
    outline: none;
    border: 1px solid #e5e5e5;
    color: #333;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    border-radius: 3px;
    width: 100%;
}
.arrow_background3 {
   background: url("../image/arrow.png") no-repeat right #fff;
    background-size: 3% 34%;
    background-position-x: 31%;
    background-position-y: 91%;
    border-radius: 4px;
}
.arrow_background3 select{
  outline: none;
    border: 1px solid #e5e5e5;
    color: #333;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
    border-radius: 2px;
}
.arrow_background4 select{
  outline: none;
    border: 1px solid #e5e5e5;
    color: #333;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
    border-radius: 2px;
}
.arrow_background1{
	    float: right;
    background: url("../image/arrow.png") no-repeat right #fff;
    background-size: 1% 1%;
    background-position-x: 96%;
    background-position-y: 84%;
     border-radius: 4px;
}
.arrow_background1 select{
	outline: none;
    border: 1px solid #e5e5e5;
    color: #333;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
    border-radius: 2px;
}
.arrow_background2 {
    float: right;
    background: url("../image/arrow.png") no-repeat right #fff;
    background-size: 10% 40%;
    background-position-x: 98%;
    background-position-y: 86%;
    border-radius: 3px;
}
.arrow_background2 select{
  outline: none;
    border: 1px solid #e5e5e5;
    color: #333;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
    border-radius: 2px;
}
.div_space{
  padding-bottom: 30px;
  width: 100%;
  float: left;
}
.div_space1{
    padding-bottom: 10px;
    width: 100%;
    float: left;
    padding-left: 0px;
}
.space {
  padding-bottom: 30px;
  float: left;
}
.sort label{
display: inline-block;
    max-width: 100%;
    padding-right: 131px;
    margin: 0px;
    color: #979898;
	}
	.btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #2392ec;
    padding: 3px 15px 1px 15px;
    text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  color: #fff;
}
.btn-info {
  background-color: #2392ec;
  margin-bottom: 0px;

  }
  .btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #2392ec;
    border: 1px solid #2392ec;
  }
  td { 
    text-align: center;
    padding: 10px;
  }
  .input-group.input-group-minimal > .form-control {
    border-right: 1px solid #e4e4e4 !important;
    padding-right: 5px !important;
    text-align: center;
    border-radius: 4px;
  }
  .input-group .form-control {
    width: 100%;
  }
  .input-group-minimal {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 130px;
  }
  label .cbr-replaced {
    margin: 0px;
}
  .fixed_width {
    width: 80px;
  }
  .fixed_width_week {
    width: 96px;
  }
  .form-control {
    padding: 0px 5px;
    height: 24px;
  }
  .table_heading {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
  }
  .first_table {
    padding-top: 59px;
  }
  input[type="checkbox"].iswitch {
    width: 26px;
    height: 12px;
    background: #B9B7B8;
        box-shadow: inset 0 0 0 2px transparent;
}
input[type="checkbox"].iswitch:before {
    width: 14px;
    height: 14px;
        margin: -1px 0 3px 0px;
}
input[type="checkbox"].iswitch:active:before, input[type="checkbox"].iswitch.touch:hover:before {
    width: 14px;
    background-color: #2392ec; 
}

input[type="checkbox"].iswitch {
    margin-left: 10px;
    top: 5px;
}
input[type="checkbox"].iswitch.iswitch-info:checked:before {
    background-color: #2392ec;
}
.t_align {
  text-align: center;
}
.reminder {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.btn_class {
  margin-bottom: 21px !important;
      margin-top: 10px;
  padding: 8px 25px 8px 25px;
  font-size: 14px;
  width: 120px;
  }
  #cancel_btn {
    color: #fff;
    background-color: #7D7D7D;
    border: 1px solid #7D7D7D;
  }
  #cancel_btn:hover, #cancel_btn:active, #cancel_btn:focus  {
    color: #fff;
    background-color: #7D7D7D;
    border: 1px solid #7D7D7D; 
  }
  .buttons {
    margin-bottom: 15px;
    float: left;
  }
  .btn + .btn {
    margin-left: 10px;
}
.no_padding{
    padding-left: 0px;
    padding-right: 0px;
  }
  .no_padding1{
    padding-right: 0px;
  }
  .add_text {
    color: #333;
  }
  .column {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .input_radius {
    border-radius: 2px !important;
  }
  .label_padding {
    padding-left: 10px;
  }
  .col_3 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .input-group.input-group-minimal > .form-control{
    cursor: pointer;
    background: white;
}
.weekdayname{
    color: #000;
    padding-left: 3px;
  }
 td label {
    width: 56px;
  }
  label .cbr-replaced {
   float: left;
       margin-right: 4px;
}
.cbr-replaced {
    top: 2px;
  }
  #cancel_btn {
    color: #fff;
    background-color: #7D7D7D;
    border: 1px solid #7D7D7D;
}
.setting_selection
{
        width: 205px;
}	
.setting_selection1
{
        width: 228px;
} 
#set_working_hours
{
  width: 48px;
    border-radius: 3px;
    padding-left:4px;
    padding-right:4px; 
    outline: none;
    border: solid 1px #e5e5e5;
        margin-top: -9px;
}
#overtime_for_period_msg{
color: red;
    margin-top: 29px;
 text-align: center;
  }
  #clear_overtime_balance_msg
  {
   color: red;
    margin-top: 29px;
 text-align: center;
  }
   #clear_overtime_balance_msg a{
        color: #2392ec;
   }
   #overtime_for_period_msg a{
        color: #2392ec;
   }
   .factor_style
   {
    background: #fff;
    border: 1px solid #e4e4e4 !important;
    padding-right: 5px !important;
    text-align: center;
    border-radius: 4px;
    width: 72px;
    margin-left: 3px;
    padding: 4px;
    font-family: sans-serif;
    font-size: 12px;
   }
.tool_tip
{
   padding-left: 15px;
   text-align: left;
}
.space .tooltip{
    width: 170px !important;
}
.tool_tip_p
{
    text-align: left;
    color: #fff;
}
@media only screen and (min-width: 1400px){
    .ePadding {
        width: 21%;
    }
    .ui-spinner-input {
        width: 100%;
    }
    .arrow_background3 {
         background-size: 2% 40%;
        background-position-x: 204px;
        background-position-y: 87%;
    }
    .arrow_background4 {
            background-position-x: 42px;
    }
    .input-group-minimal {
        width: 100%;
    }
    .equalpostion {
        text-align: center !important;
        padding-right: 0px !important;
        padding-left: 9px;
    }
    .responsive {
            width: 115px;
    }
    .dropdown-sort1
    {
        width: 80% !important;
    }
    .interval_div
    {
        width: 14% !important;
    }
    .rounding_div
    {
        width: 19% !important;
    }
    .first_div
    {
        width: 7% !important;
    }

}
    .equalpostion
{
    text-align: right;
    padding-right: 26px;
}
.space_for_ui
{
    margin-left: 4px;
}
.cbr-replaced.cbr-info .cbr-state {
    background: #2f99d3 !important;
    border-color: #1d5e81 !important;
}
.center_align
{
    text-align: center;
}
.checkbox_style
{
    position: relative;
    top: -4px;
}
@media screen and (min-width: 993px) and (max-width: 1024px) {
    .top_list a {

    padding-left: 25px !important;
    padding-right: 25px !important;
    }
    .responsive_table {
        width: auto;
    }
    .right_border {
    border-right: 0;
    }
    .table_div {
        width: 100%;
    }

}
.spinner
{
    margin-right: auto;
    margin-left: auto;
}

.custom_bx_style
{
    height: 420px !important;
}
.custom_bx_li_style
{
    width: 1000px !important;
}

@media screen and (min-width: 1920px) and (max-width: 1940px) {   
.custom_bx_li_style
{
    width: 1550px !important;
}
}
@media screen and (min-width: 1680px) and (max-width: 1919px) {   
.custom_bx_li_style
{
    width: 1300px !important;
}
}
@media screen and (min-width: 1440px) and (max-width: 1679px) {   
.custom_bx_li_style
{
    width: 1080px !important;
}
}
@media screen and (min-width: 1366px) and (max-width: 1439px) {   
.custom_bx_li_style
{
    width: 1000px !important;
}
}
@media screen and (min-width: 1280px) and (max-width: 1365px) {   
.custom_bx_li_style
{
    width: 885px !important;
}
.custom_bx_style
{
    height: 430px !important;
}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {   
.custom_bx_li_style
{
        width: 650px !important;
        margin-left: 10px !important;
}
.custom_bx_style {
height: 430px !important;
}
}
@media screen and (min-width: 768px) and (max-width: 900px) {   


.custom_bx_li_style
{
        width: 700px !important;
        margin-left: 8px !important;
}
.custom_bx_style {
height: 430px !important;
}
}

@media screen and (min-width: 600px) and (max-width: 767px) {   
.custom_bx_li_style
{
        width: 480px !important;
        margin-left: 8px !important;
}
.custom_bx_style {
        width: 100% !important;
    position: relative !important;
    height: 500px !important;
}
}
.top_list a
{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

@media only screen and (min-width:766px) and (max-width: 990px){
  .top_list a{
    padding-left: 20px !important;
    padding-right: 20px !important;
}  
  
.dropdown-sort{
    width: 100% !important;
}

.setting_selection{
    width: 204px !important;
}

.setting_selection1{
    width: 172px;
}

}

@media only screen and (min-width:991px) and (max-width: 1024px)  {
.top_list a{
    padding-left: 20px !important;
    padding-right: 20px !important;
}  

.dropdown-sort{
    width: 100% !important;
}

.dropdown-sort1{
    width: 85px !important;
}

.setting_selection{
    width: 204px !important;
}

.setting_selection1{
    width: 172px;
}

.clearCacheset{
    width: 100%;
}
}


