.mot_header {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.heading {
                width: 100%;
                float: left;
                padding-top: 50px;
            } 
            .logo {
                text-align: center;
                color: #000;
                padding-left: 30px;
                float: left;
                top: -30px;
            }
            .logo h1 {
                color: #000;
                font-size: 40px;
                font-weight: 500;
                margin-top: -15px;
            }
            
            .header {
                text-align: right;
                float: right;
            }
            .header a {
                text-decoration: none !important;
                margin-right: 35px;
                font-size: 16px;
                color: #000 !important;
            }
            .mobile_logo {
                font-size: 18px;
                margin-bottom: 5px;
                color: #fff;
                margin-top: 20px;
                float: left; 
            }
            .mobile_logo h4 {
                color: #fff;
                font-weight: 600;
            }
            .mobile_heading {
                display: none !important;
                color: white;
                font-size: 26px;
                position: fixed;
                background-color: #364554;
                width: 100%;
                float: left;
                z-index: 9999;
            }
            .mobile_nav {
                float: right;
                font-weight: 600;
                margin-top: 10px;
                margin-right: 20px;
            }
            .drop_down_menu {
                display: none;
                background-color: #364554;
                width: 100%;
                float: left;
                color: white;
                font-size: 18px;
                position: fixed;
                z-index: 999;
                top: 58px;
            }
            .menu_expand {
                text-align: center;
                list-style: none;

            }
            .mobile_tabs {
                border-bottom: 1px solid #fff;
            }

            .sixth-part {
                float: left;
            }
            .social-left-part {
                padding-top: 9%;
                text-align: center;
                border-right : 1px ridge #f3f4f5;
                padding-bottom: 9%;
            }
            .social-right-part{
                padding-top: 9%;
                text-align: center;
                padding-bottom: 9%;

            }
            .icons{
                padding: 0px 0px 0px 0px;
                display: inline-block;
                width: 50px;
                height: 50px;
                border: 2px solid #F3F4f5;
                border-radius: 100%;
                text-align: center;
                margin-right: 5px;
            }
            .icons:hover {
                border: 2px solid #3593D3;
            }
            .icons:hover .fo {
                color:  #3593D3;
            }
            .fo {
                    color: #8F8F8F;
                    font-size: 20px !important;
                    padding-top: 13px;
            }
            .sixth-part-heading {
                    line-height: 0.5em;
                    letter-spacing: 0px;
                    font-weight: 500;
            }
            .sixth-part-sub-heading {
                padding-bottom: 20px;
                margin-top: 15px !important;
            }
            #mail {
                height: 50px;
                font-size: 20px;
            }
            .home-input{
                border-radius: 2px;
            }
            #home-search-form{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
            #mail:focus {
                outline: 0 !important;
                outline-offset: 0 !important;
            }
            .form-control:focus {
                border-color: none !important;
            }
            .input-group-btn {
                position: relative;
                font-size: 0;
                white-space: nowrap;
            }
            .mail_btn {
                background-color: #8F8F8F;
                border-radius: 4px;
                padding: 15px;
                border-left: 0px;
                box-shadow: none;
                border: 0px;
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px; 
            }
            .mail_btn i{
                font-size: 20px;
                color: #fff;
            }
            .mail_btn:focus {
                outline: 0 !important;
                outline-offset: 0 !important;
            }
 @media only screen and (max-width: 768px) {
 	 .social-left-part {
                    border-right: none;
                }
                .mobile_heading {
                    display: block !important;
                }
 }
 @media only screen and (max-width: 479px) and (min-width: 320px){
 	#home-search-form {
                    width: 100%;
                }
                .fo {
                    font-size: 16px !important;
                    padding-top: 11px;
                }
                .icons {
                    width: 40px;
                    height: 40px;
                    margin-right: 3px;
                }
                .sixth-part-heading {
                    line-height: 1.5em;
                }
 }























	.mot_social_networking {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
            .mot_footer {
                margin-left: 0px !important;
                margin-right: 0px !important;
                background-color: #211E35;
                text-align: center;
                padding-top: 6%;
                padding-bottom: 4%;
            }
            .footer-heading {
                color: #fff;
                padding-bottom: 10px;
            }
            .footer-address {
                color: #969696;
            }
            .line-styling-3 {
                width: 100%;
                border-top: 1px solid #969696;
                margin-top: 30px;
            }