body {
        font-family: 'Open Sans' !important;
    }

.locking_range{
    background-color: #eee;
    border-radius: 4px;
    padding: 20px;
}
.lock_title{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-size: 16px;
}
.dropdwn{
    height: 43px;margin-top: 30px;border-radius: 4px;
}
.bg_opacity {
           
            background : url("../images/BG blue.png");
           
            background-size: cover;
            padding-top:50px !important;
            padding-bottom:50px !important;        }

.btm-hr{
    border-bottom:1pt solid #ddd;
}

.pad0{
    padding-left: 0px;
    padding-right: 0px;
}

.addEmloyeeMain{

}

.addEmloyee{
    background-color: #fff;
    -moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
margin:20px 0;
border-radius: 3px;
}

.addEmpHead{
    color: #000;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.addEmloyee label{
    color: #000;
    font-size: 15px;
}

.addEmloyee .form-group{
    margin-bottom: 20px;
}

.addempinput{
    padding:20px 5px;
    border-radius: 3px;
}

.addempInfo{
    color: #000;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.addempBtndiv{
    text-align: center;
    margin: 30px 0 40px 0;
}

.termsempsub{
    color: #000;
    font-size: 14px;
}

.termsempsubmain{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.alignrightval{
    text-align: right;
}

.empworkCalMain{
    padding:20px;
}
.empworkformMain{
    box-shadow: 0 0 5px #a3a1a1;
    border-radius: 3px;
    padding: 20px 30px;
}

.addempBtn{
    background-color: #2392ec;
    border-color: #2392ec;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 3px;
    color: #fff;
    margin: 5px;
}
.transparentBtn{
    background-color: #fff;
    border-color: #2392ec;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 3px;
    color: #2392ec;
    margin: 5px;
}

.addempBtn:hover{
    background-color: #2392ec;
    border-color: #2392ec;
}

.termsofemphead{
    color: #000;
    font-weight: bold;
}

::-webkit-input-placeholder {
  color: #000;
  font-size: 13px;
}
::-moz-placeholder {
    color: #000;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: #000;
  font-size: 13px;
}
::placeholder {
  color: #000;
  font-size: 13px;
}

.manageMaindiv{
    padding-top: 15px;
    padding-bottom: 15px;i
}

.managebillinput{
    padding: 20px 5px;
}

.managebilltext{
    color: #000;
    padding-bottom: 10px;
}

.paddingleft{
    padding-left: 0px;
}

.manageAddPpl{
    background-color: #fff;
}

.paddingright{
    padding-right: 0px;
}
.link {
        padding-top: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 10px;    
        float: left;
    }
    .invite {
        margin-left: 0px;
        margin-right: 0px;
    }
    .panel {
        width: 100%;
        float: left;
        padding: 20px 20px;
        margin-bottom: 0px;
        box-shadow: 2px 2px 3px #cdcdcd;
        border-radius: 3px;
        min-height: 550px;
    }
    .mail_box {

    }
    .invite_people_icon {
        text-align: center;
        width: 100%;
        height: 210px;
        float: left;
        padding-bottom: 10px;
    }
    
    .invite_people_heading {
        width: 100%;
        float: left;
        font-size: 34px;
        font-weight: 500;
        text-align: center;
        color: #8b8b8b;
    }
    .invite_people_sub_heading{
        width: 100%;
        float: left;
        font-size: 22px;
        text-align: center;
        opacity: .7;
        color: #8d8d8d;
            padding-top: 15px;
    }
    .invite_mail_id {
        width: 100%;
        border-radius: 2px;
        padding: 10px;
        border: 1px solid #ebebeb;
        background-color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .invite_mail_id:focus {
        border: 1px solid #ebebeb;
        outline: none;
        outline-offset: 0px;

    }
    .invite_mail_id:active {
        border: 1px solid #ebebeb;
        outline: none;
        outline-offset: 0px;

    }
    .send_invite {
        width: 10%;
        margin-left: 1%;
        
    }
    #send_invite_btn {
        padding: 11px;
        color: #fff;
        background-color: #2392ec;
        border-radius: 2px;
        border: 0px;
        font-size: 16px;
        width:100px; 
        display: inline;
    }
    .white_btn {
        padding: 10px;
        color: #2392ec;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #2392ec;
        font-size: 16px;
        
    }

    #create_terms_of_employment_btn{
            padding: 11px;
            color: #fff;
            background-color: #2392ec;
            border-radius: 5px;
            border: 0px;
            font-size: 16px;
            width: 277px;
            margin-top: 30px;
    }

    .top_space{
        margin-top: 30px;
    }

    #send_invite_btn_def {
            padding: 8px;
            color: #2392ec;
            background-color: #fff;
            border-radius: 6px;
            border: 2px solid #2392ec;
            font-size: 16px;
            width: 200px;
            margin-top: 27px;
            display: inline;
    }
    #send_invite_btn_x {
            padding: 5px 0px;
            color: #2392ec;
            background-color: #fff;
            border-radius: 6px;
            border: 2px solid #2392ec;
            font-size: 16px;
            width: 200px;
            display: inline;
    }
    #create_company_btn {
            padding: 8px;
            color: #2392ec;
            background-color: #fff;
            border-radius: 6px;
            border: 2px solid #2392ec;
            font-size: 16px;
            width: 150px;
            margin-top: 27px;
            display: inline;
    }


    .submit_invite {
        width: 50%;
        margin-top: 10px;
        text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    #send_invite_btn:focus {
        border: none;
        outline: none;
    }


    @media screen and (min-width: 992px) and (max-width: 1024px) {
    .left-links {
        width: 10%;
        padding-left: 10px;
    }

    .profile_time_list{
      display: none;
    }

    #modal_box_display{
      float: left;
    }

    .mot_dashboard_profile_time{
      width: 50% !important;
    }

 }

    label{
        font-size: 16px;
        color: #555;
    }