    body {
        font-family: 'Open Sans';
    }
    
    .logo-env {
        text-align: center;
        background-color: #fff;
    }

   /* .sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
    	background-color: #2392ec;
    	
    }
    .user-info-navbar .user-info-menu > li {
    	border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
    	color: #fff !important;
    	border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
    	font-size: 22px;
    }
    .mot_header_lists {
    	border: 0px;
    }
    .profile_time_list {
    	list-style: none;
    	border: 1px solid #4e91be;
    	background-color: #4e91be;
    	width: 100%;
    	margin-right: auto;
    	margin-left: auto; 
    	padding-left: 0px;
    	border-radius: 20px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	font-size: 12px;
    }
    .current_stats {
    	display: inline; 
    	border-right: 1px solid #fff;
    	padding-right: 10px;
    	padding-left: 10px;
        color: #fff;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
    	border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
    	background-color: #f8f8f8 !important; 
    	top: 24px !important;
    	right: 15px !important;
    	color: #53A2CA;
    	min-width: 16px;
    }
    .profile_options {
    	list-style: none;
    }
    .profile_options_listing {
     	display: inline; 
    }
    .mot_dashboard_profile_item {
     	padding-top: 20px;
     	text-align: right;
     	font-size: 16px;
     	float: right;
    }
    .user_name {
     	color: #fff;
     	font-size: 14px !important;
    }
    .user_name i {
    	font-size: 14px !important;
    }*/
    .mot_dashboard_content {
     	margin-right: 0px !important;
     	margin-left: 0px !important;
        margin-top: 10px;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .panel-default {
    	width: 100%;
    	float: left;
        padding: 14px 20px;
        margin-bottom: 0px;
        box-shadow: 2px 2px 3px #cdcdcd;
        border-radius: 3px;
    }
    .mail_box {
        width: 54px;
    }
    .invite_people_icon {
     	    text-align: center;
            width: 100%;
            height: 55px;
            float: left;
            padding-bottom: 10px;
    }
    
    .invite_people_heading {
     	width: 100%;
     	float: left;
     	font-size: 20px;
     	font-weight: 500;
     	text-align: center;
        color: #8b8b8b;
    }
    .invite_people_heading p{
        margin-bottom: 6px;
    }
    .invite_people_sub_heading{
    	width: 100%;
     	float: left;
     	font-size: 12px;
     	text-align: center;
     	opacity: .7;
        color: #8d8d8d;
    }
    .invite_people_sub_heading p {
        line-height: 1.4em;
    }
    .invite_mail_id {
    	width: 100%;
        float: left;
        border-radius: 2px;
        padding: 7px;
        border: 1px solid #ebebeb;
        background-color: #f8f8f8;
        font-size: 14px;
        margin: 5px;
        font-family: 'Open Sans';
    }
    .invite_mail_id:focus {
        outline: none;
    }
/*    .invite_mail_id:focus {
    	border:none;
    	outline: none;
    	outline-offset: 0px;

    }*/
  /*  .invite_mail_id:active {
    	border:none;
    	outline: none;
    	outline-offset: 0px;

    }*/
    .send_invite {
    	width: 50%;
    	
    }
    #send_invite_btn {
    	padding: 8px;
    	color: #fff;
    	background-color: #2392ec;
    	border-radius: 2px;
    	border: 0px;
    	font-size: 14px;
        font-family: 'Open Sans';
            margin: 5px;
    }
    .submit_invite {
    	width: 100%;
    	float: left;
    	margin-top: 4px;
    padding-bottom: 8px;
    }
    #send_invite_btn:focus {
    	border: none;
    	outline: none;
    }
    .mot_invite_people {
    	padding-right: 5px;
    }
    .mot_stats {
    	padding-left: 5px;
    	padding-right: 5px;
    }
    .mot_top_employees {
    	padding-left: 5px;
    }
    .xe-widget.xe-counter {
    	padding: 0px !important;
    	margin-bottom: 11px;
        box-shadow: 2px 2px 3px #cdcdcd;
        border-radius: 3px;
    }
    .xe-widget.xe-counter .xe-label {
    	padding: 15px;
    	padding-left: 0px !important;
    }
    .xe-widget.xe-conversations {
    	padding: 0px;
        margin-bottom: 10px;
    }
    .mot_stats_icon {
    	padding-top: 10px !important;
    	padding-bottom: 10px !important;
    	padding-left: 15px !important;
    	padding-right: 15px !important;
    }
    .mot_stats_icon i {
    	font-size: 30px !important;
    	line-height: 65px !important;
    	width: 65px !important;
    	height: 65px !important;
    }
    .mot_employees {
    	width: 100%;
    	float: left;
    	margin-bottom: 10px;
        box-shadow: 2px 2px 3px #cdcdcd;
        border-radius: 3px;
    }
    .top_employee_heading {
    	padding-top: 12px;
    	padding-left: 10px;
    	float: left;
        font-size: 14px;
    }
    .top_employee_view_more {
    	float: right !important;
    	text-align: right;
    	display: inline-block;
    	font-size: 14px;
    	padding-top: 11px;
    	padding-right: 10px;
    	color: #2392ec; 
    }
    .top_employee_view_more a {
        text-decoration: none !important;
        color: #2392ec;
    }
    .top_employee_view_more a:hover {
        text-decoration: none !important;
        color: #2392ec !important;
    }
    .top_employee_view_more a:focus {
        text-decoration: none !important;
        color: #2392ec !important;
    }
    .xe-body {
    	width: 100%;
    	float: left;
    }
    .xe-widget.xe-conversations .xe-body ul > li {
    	margin: 0px !important;
    	border-bottom: 0px;
    }
    .mot_employee_heading {
    	width: 100%;
    	float: left;
    	background-color: #f9f9f9;
    }
    .mot_top_employee_heading {
    	float: left;
    	padding-bottom: 15px;
    }
    .xe-user-img {
    	padding-left: 10px;
    }
    .mot_top_employee_list {
    	width: 100%;
    	float: left;
    }
    .xe-widget.xe-conversations .xe-body .xe-comment-entry .xe-user-img {
        padding-top: 11px;
    }
    .xe-comment-entry {
    	float: left;
    	display: inherit !important;
    	width: initial !important;
    }
    .no_of_hours {
    	float: right !important;
    	display: inline-block;
        padding-top: 10px;
        text-align: center;
        padding-right: 20px;
    }
    .num {
        color: #8d8d8d !important;
    }
    .number {
    	font-size: 18px;
    	color: #8d8d8d;
    	margin-bottom: -3px !important
    }
    .no_of_hours small {
        color: #cbcbcb;
    }
    .xe-widget.xe-counter .xe-label span {
        color: #cbcbcb;
    }
    .even {
    	background-color: #f9f9f9;
    }
    .mot_time_graph {
    	margin-right: 0px !important;
    	margin-left: 0px !important;
    }
    .mot_graph_heading {
    border-bottom: 1px solid #eee;
    width: 100%;
    float: left;
    padding-top: 10px;
    background-color: #f9f9f9;
    }
    .graph_heading{
    	padding: 0px;
        margin-bottom: 20px;
    }
    .graph_header {
    	padding-left: 20px !important;
    	font-size: 12px !important;
    	padding-bottom: 0px !important;
    	font-weight: 600;
    	float: left;
    	border-bottom: 0px !important;
    }
    .graph_attributes {
    	float: right;
    	display: inline-block;
    }
    .graph_attributes a {
    	margin-right: 10px;
    }
    .aqua_blue {
    	height: 12px;
    	width: 35px;
    	background-color: #4fcdfc;
    	margin-right: 10px;
    	display: inline-block;
    }
    .purple {
    	height: 12px;
    	width: 35px;
    	background-color: #7c38bc;
    	margin-right: 10px;
    	display: inline-block;
    }
    .end {
        margin-bottom: 0px;
    }
    #part_one {
        float: left;
        margin-bottom: 10px;
        padding-right: 5px;
    }
    #part_two {
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }
    #part_three {
        padding-left: 5px;
    }
    .xe-user-name {
        color: #8b8b8b;
        text-overflow: ellipsis;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    }
    .xe-user-name small {
        text-overflow: ellipsis;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    }
    .xe-user-name:hover strong{
        color: #8b8b8b !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .xe-widget.xe-counter .xe-icon {
        padding: 15px;
    }
    .xe-widget.xe-counter .xe-icon i {
        font-size: 32px;
    line-height: 54px;
    width: 60px;
    height: 60px;
    }
    .page-container .main-content {
        padding: 0px;
    }
    .xe-comment small {
        color: #cbcbcb;
    }
    .panel .panel-body {
        padding-top: 40px;
    }
    @media screen and (min-width:993px) (max-width: 1280px) {
        .invite_people_sub_heading p {
            font-size: 11px;
        }
        .invite_people_heading p{
            margin-bottom: 10px;
        } 
    }
    @media screen and (min-width: 992px) and (max-width: 1024px) {
        .left-links {
        width: 10%;
        padding-left: 10px;
    }

    .profile_time_list{
      display: none;
    }

    #modal_box_display{
      float: left;
    }

    .mot_dashboard_profile_time{
      width: 50% !important;
    }

        .mot_dashboard_profile_time {
            width: 28%;
            padding-left: 0px;
        }

        .num{
            font-size: 20px !important;
        }

         .mot_invite_people {
            width: 50%;
            float: left;
            margin-bottom: 15px;
        }
        .mot_stats {
            width: 50%;
            float: left;
            margin-bottom: 15px;
        }
        .mot_top_employees {
            width: 50%;
            float: left;
            margin-bottom: 15px;
        }
        .mot_top_employee_heading {
            width:60%;
        }
        .xe-comment {
            width: 57% !important;
            float: left;
            white-space: nowrap;
        }
        .xe-user-name {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .xe-comment-entry  {
                width: 100% !important;
        }

        .no_of_hours{
            width: 100%!important;
        }

    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .mot_dashboard_profile_time {
            padding-left: 0px;
        }

        .num{
            font-size: 20px !important;
        }

        .invite_people_sub_heading p {
            margin: 0 0 1px;
        }
        .send_invite {
            width: 75%
        }
        .submit_invite {
            padding-bottom: 22px;
        }
        .mot_invite_people {
            width: 50%;
            float: left;
            margin-bottom: 15px;
        }
        .mot_stats {
            width: 50%;
            float: left;
            margin-bottom: 15px;
        }
        .mot_top_employees {
            width: 50%;
            float: left;
            margin-bottom: 15px;
        }
        .xe-widget.xe-counter .xe-icon {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        #part_one {
            padding-left: 15px; 
        }
        #part_two {
            padding-right: 15px;
        }
        #part_three {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @media screen and (min-width: 601px) and (max-width: 768px) {
        .mobile-menu-toggle {
            padding-top: 10px;
            padding-right: 10px;
        }
        .xe-widget.xe-counter {
            margin-bottom: 25px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 600px) {
    	.mobile-menu-toggle {
            padding-top: 10px;
            padding-right: 10px;
        }
    	
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
        .mobile-menu-toggle {
            padding-top: 10px;
            padding-right: 10px;
        }
    	
    }
    @media screen and (min-width: 320px) and (max-width: 768px) {
        .parts{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        #part_one {
            width: 100%;
        }

        .xe-widget.xe-counter {
            margin-bottom: 10px;
        } 
    }
    @media screen and (min-width: 768px) {
         
    }
    .img-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#part_two_temp {
    display: none;
}
#part_two_temp img {
    width: 100%;
    float: left;
}
#part_three_temp {
    display: none;
}
#part_three_temp img {
    width: 100%;
    float: left;
}
#container_temp {
     display: none;
}
#container_temp img {
    width: 100%;
    float: left;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .xe-comment-entry {
    float: left;
    display: inherit !important;
    width: auto !important;
}