body {
         font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }

    /*.sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    }
    .user-info-navbar {
    	background-color: #2392ec;
    	
    }
    .user-info-navbar .user-info-menu > li {
    	border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
    	color: #fff !important;
    	border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
    	font-size: 22px;
    }
    .mot_header_lists {
    	border: 0px;
    }
    .profile_time_list {
    	list-style: none;
    	border: 1px solid #4e91be;
    	background-color: #4e91be;
    	width: 100%;
    	margin-right: auto;
    	margin-left: auto; 
    	padding-left: 0px;
    	border-radius: 20px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	font-size: 12px;
    }
    .current_stats {
    	display: inline; 
    	border-right: 1px solid #fff;
    	padding-right: 10px;
    	padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
    	border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
    	background-color: #f8f8f8 !important; 
    	top: 24px !important;
    	right: 15px !important;
    	color: #53A2CA;
    	min-width: 16px;
    }
    .profile_options {
    	list-style: none;
    }
    .profile_options_listing {
     	display: inline; 
    }
    .mot_dashboard_profile_item {
     	padding-top: 20px;
     	text-align: right;
     	font-size: 16px;
     	float: right;
    }
    .user_name {
     	color: #fff;
     	font-size: 14px !important;
    }
    .user_name i {
    	font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }*/
    .link {
        padding-top: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 10px;    
        float: left;
    }
    .employer{
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-bottom: 10px;
    }
    .grey {
        background-color: #f9f9f9; 
    }
    .subscription_info_title {
        float: left;
        font-size: 14px;
    }
    .subscription_info_value {
        float: right;
        font-size: 14px;
    }
    .fill {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .image {
        float: left;
    background-size: 100% 100% !important;
    height: 144px;
    width: 100%;
    }
    .company_logo_heading
    {
        width:100%;
        float:left;
        text-align: center;
        margin-bottom: 3px;
    }
    .profile_picture {
        background: #fff;
    border: 4px solid #fff;
    padding-left: 0px;
    padding-right: 0px;
    }
    .subscription_information {
        margin-bottom: 0px !important;
        padding: 0px !important;
        width: 100%;
        float: left;
        box-shadow: 2px 2px 3px #cdcdcd;
        border-radius: 3px;
    }
    .border {
        box-shadow: 2px 2px 3px #cdcdcd;
        width: 100%;
        float: left;
        border-radius: 3px;
    }
    .para {
        margin-bottom: 5px !important;
            color: #666;
    }
    .bold_heading {
        font-weight: 500 !important;
        font-size: 14px;
    }
    .light {
        font-weight: 300;
    }
    .subscription_info {
        padding: 10px 0px 10px 15px;
    }
    .subscription_info_list {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #eee;
    float: left;
    padding-top: 30px;
    padding-bottom: 7px;
    }
    .subscription_info_body {
        /*padding-bottom: 25px;*/
        border-bottom: 0px !important;
    }
    .basic_information {
        margin-bottom: 0px !important;
        padding: 0px !important;
        width: 100%;
        float: left;
    }
    .basic_info_title {
        float: left;
        font-size: 14px;
    }
    .basic_info_value {
        float: right;
        font-size: 14px;
        
    }
    .name {
        font-weight: 400;
    } 
     .basic_info_list {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #eee;
    float: left;
    padding-top: 25px;
    width: 100%;
    }
    .basic_info_listing {
        padding-left: 0px;
    padding-right: 0px;
    float: left;
    padding-top: 0px;
    width: 100%;
    }
    .basic_info_body {
        padding-bottom: 25px;
        border-bottom: 0px !important;
        float: left;
        background: #fff;
    }
    .basic_edit {
        width: 100%;
        float: left;
    }
    .basic_info {
        padding: 10px 0px 10px 15px;
        float: left;
    }
    .edit_profile {
        float: right;
        padding: 10px 20px 10px 0px;
    }
    .description {
        padding-left: 10px;
        padding-right: 0px;
    }
    .basic_information_new {
         margin-bottom: 0px !important;
        padding: 0px !important;
        width: 100%;
        float: left;
    }
    .close_edit_profile {
        float: right;
        padding: 10px 20px 10px 0px;
    }
    .employee_whole_edit {
        width: 100%;
        float: left;
        display: none;
    }
    .comp_name {
            padding: 3px 3px 3px 10px;
    width: 100%;
    color: #666;
    height: 40px;
    border: 1px solid #e5e5e5;
    }
    .edit_label,.edit_input {
        font-size: 14px;
    }
    .new {
        background: #fff;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .edit_submit {
        padding-top: 0px;
        padding-bottom: 18px;
            width: 100%;
    float: left;
    text-align: center;
        background: #fff;
    }
    .save {
        width: 14%;
        background-color: #2392ec;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0px;
        font-size: 16px;
        border-radius: 3px;
        color: #fff;
    }
    .employee_whole_left {
        width: 100%;
        float: left;
    }
    @media screen and (min-width: 768px ) {

    }
    @media screen and (min-width: 320px) and (max-width: 768px) {
        .description {
            padding-left: 0px;
            padding-right: 0px;
        }
        .profile_picture {
            margin-bottom: 10px;
        }
        .employee_whole_left {
            margin-bottom: 10px;
        }
        .subscription_info_body {
            padding-bottom: 0px;
        }
        .subscription_information {
            padding: 0px 0px 20px 0px !important;
        }
        .comp_name {
            width: 100%;
        }
        .no_padding{
        padding-left: 0px;
        padding-right: 0px;
    }
    .save {
        width: 100%;
    }
    }
