body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
    .logo {
    }
    .sidebar-menu .logo-env {
        padding: 16px 45px 19px 95px !important;
        border-bottom: 0px;
    }
    .mot_dashboard_profile_time {
    	float: left;
        padding-top: 25px;
    
    }
    .sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
        width: 235px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 24px;
    }
    .user-info-navbar {
    	background-color: #2392ec;
    	
    }
    .user-info-navbar .user-info-menu > li {
    	border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
    	color: #fff !important;
    	border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
    	font-size: 22px;
      color: #fff !important;
    }
    #modal_box_display
    {
        font-size: 24px;
        color: #fff !important;
        float: right;
    }
    .mot_header_lists {
    	border: 0px;
    }
    .profile_time_list {
        list-style: none;
        border: 1px solid #4e91be;
        background-color: #4e91be;
        width: 85%;
        float: left;
        margin-right: auto;
        padding-left: 0px;
        border-radius: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
        margin-left: 5px;
    }
    .current_stats {
    	display: inline; 
    	/*border-right: 1px solid #fff;*/
    	padding-right: 10px;
    	padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    /*.left-links {
        width: 14% !important;
    }*/
    .right-links {
    }

    .last {
    	border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
    	background-color: #f8f8f8 !important; 
    	top: 24px !important;
    	right: 15px !important;
    	color: #53A2CA;
    	min-width: 16px;
    }
    .profile_options {
    	list-style: none;
    }
    .profile_options_listing {
     	display: inline; 
    }
    .mot_dashboard_profile_item {
     	padding-top: 20px;
     	text-align: right;
     	font-size: 16px;
     	float: right;
    }
    .user_name {
     	color: #fff;
     	font-size: 14px !important;
    }
    .user_name i {
    	font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }
    .sub_link
    {
        margin-left: 32px !important;
    }

    @media screen and (min-width: 992px) and (max-width: 1024px) {
     /*    .mot_dashboard_profile_time {
     width: 28% !important;
         
         } */

        
    


    .left-links {
        width: 10%;
        padding-left: 10px;
    }

    .profile_time_list{
      display: none;
    }

    #modal_box_display{
      float: left;
    }

    .mot_dashboard_profile_time{
      width: 50% !important;
    }
    }
    
.marquee
{
    width: 100px!important;
    height: 20px;
}