body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
    /*
    .sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
    	background-color: #2392ec;
    	
    }
    .user-info-navbar .user-info-menu > li {
    	border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
    	color: #fff !important;
    	border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
    	font-size: 22px;
    }
    .mot_header_lists {
    	border: 0px;
    }
    .profile_time_list {
    	list-style: none;
    	border: 1px solid #4e91be;
    	background-color: #4e91be;
    	width: 100%;
    	margin-right: auto;
    	margin-left: auto; 
    	padding-left: 0px;
    	border-radius: 20px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	font-size: 12px;
    }
    .current_stats {
    	display: inline; 
    	border-right: 1px solid #fff;
    	padding-right: 10px;
    	padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
    	border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
    	background-color: #f8f8f8 !important; 
    	top: 24px !important;
    	right: 15px !important;
    	color: #53A2CA;
    	min-width: 16px;
    }
    .profile_options {
    	list-style: none;
    }
    .profile_options_listing {
     	display: inline; 
    }
    .mot_dashboard_profile_item {
     	padding-top: 20px;
     	text-align: right;
     	font-size: 16px;
     	float: right;
    }
    .user_name {
     	color: #fff;
     	font-size: 14px !important;
    }
    .user_name i {
    	font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }*/
    .link {
        padding-top: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 10px;    
        float: left;
    }
    .mot_template {
        margin-left: 0px;
        margin-right: 0px;
    }
    .top_list {
        margin-right: 10px;
    }
    .top_list a {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
    }
    .top_anchor {
        font-weight: 600;
        font-size: 12px !important;
    }
    .active .top_anchor {
        color:#2392ec !important;
    }
    .active .top_anchor:focus {
        border: 0 !important;
    }
    .custom {
        padding: 20px 3px 5px 1px !important;
        margin-bottom: 10px !important;
        float: left;
        width: 100%; 
    }
    .left {
        padding-left: 0px;
        padding-right: 4px;
    }
    .center {
        padding-left: 4px;
        padding-right: 4px;
    }
    .right {
        padding-left: 4px;
        padding-right: 0px;
    }
    .temp_title {
        width: 100%;
        float: left;
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 5px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 5px rgba(0,0,0,0.2);
        border-radius: 3px;
    }
    .basic_info {
        padding: 10px 0px 0px 15px;
        font-size: 12px;
        font-weight: bold;
        border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .basic_info p {
        margin-bottom: 0px;
        padding-bottom: 9px;
            font-size: 14px;
    font-weight: 400;
    }
    .basic_info_body {
        width: 100%;
        float: left;
    }
    .basic_info_list {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f9f9f9;
    }
    .basic_info_title {
        float: left;
        padding: 10px 0px 10px 15px;
    }
    .basic_info_title p {
        font-size: 12px;
    }
    .basic_info_value {
        float: right;
        padding: 10px 15px 10px 0px;
    }
    .basic_info_value a i {
        color: #979898;
    }
    .xe-widget.xe-conversations {
        padding: 0px;
        margin-bottom: 10px;
    }
    .xe-widget.xe-conversations .xe-body ul > li
     {
        margin:0px;
         border: 0px;
    }
    .grey {
        background-color: #f5f5f5;
    }
    .float_button {
        float: right;
    }
    .circular_button {
        border-radius: 50%;
        bottom: 40px;
        right: 60px;
        position: fixed;
        z-index: 99;
        background-color: #2392ec;
        border: 0; 
         box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.24);
        min-width: 60px;
        min-height: 60px;
        color: #ffffff;
    }
    .circular_button:focus {
        outline: 0;
        border: 0;
    }
    .add_temp_text {
        color: #fff;
        font-size: 9px;
        margin-bottom: 0px !important;
    }
::-webkit-scrollbar {
width: 6px;
}
::-webkit-scrollbar-thumb {
background-color: #67B0E1;
}
::-webkit-scrollbar-track {
background-color: #D4D4D4;
}
.listing_div {
background: #fff;
-moz-box-shadow: -4px 4px 10px 2px rgba(122,122,122,0.98);
padding: 0px !important;
margin: 6px;
-webkit-box-shadow: -3px 3px 10px 0px rgba(163,158,163,1);
-moz-box-shadow: -3px 3px 10px 0px rgba(163,158,163,1);
box-shadow: -3px 3px 10px 0px rgba(163,158,163,1);
}
.listing_div td{
font-size: 10px;
padding: 2px;
padding-left: 6px;
}
.listing_div th{
font-size: 10px;
padding: 2px;
padding-left: 5px;
font-weight: normal;
color: #ADADAD;
width: 60%;
}
.listing_div img{
float: left;
border-radius: 50%;
width: 60px;
height: 60px;
margin-bottom: 8px;
margin-left: 5px;
}
.listing_div h5{
margin-left: 9px;
font-size: 14px;
}
.list{
padding-left: 6px;
}
.right-inner-addon {
position: relative;
width: 205px;
}
.right-inner-addon input {
padding-right: 30px;
border-radius: 39px; 
height: 28px;   
}
.right-inner-addon i {
position: absolute;
right: 0px;
padding: 7px 12px;
pointer-events: none;
font-size: 13px;
}
.arrow_background{
float: right;
background: url("../../image/arrow.png") no-repeat right #fff;
background-size: 11% 41%;
background-position-x: 96%;
background-position-y: 83%;
border-radius: 4px;
}
.arrow_background select{
border: none;
-webkit-appearance: none;
background: transparent;
color: #2392ec;
padding-right: 16px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 13px;
}
.error_msg{
    text-align: center; 
    font-size: 20px; 
    height: 500px; 
}
@media only screen and (min-width:500px) and (max-width: 990px)  {
.listing_div 
{    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.nav-tabs
{
    text-align: center;
}
.error_msg
{
    height: 345px;
}
}
@media only screen and (max-width:990px){
.listing_div 
{    
    padding-bottom: 20px !important;
}
}
@media only screen and (max-width:381px){
.sort{
    margin-top: 12px !important;
margin-bottom: 3px !important;
}
}
    @media only screen and (max-width: 600px) {
        .left {
        padding-left: 0px;
        padding-right: 0px;
    }
    .center {
        padding-left: 0px;
        padding-right: 0px;
    }
    .right {
        padding-left: 0px;
        padding-right: 0px;
    }
    }

.listing_link
{
      float: right;
    font-size: 11px;
    color: #2392ec;
}
.listing_link_div{
    width: 46%;
    float: right;
    margin-right: 9px;
    margin-top: 9px;
    text-align: right;
    font-size: 11px;
    color: #2392ec !important;
}
.listing_link_div a{
    color: #2392ec !important;
    }
.text_listing_dep{
  white-space: nowrap;
    width: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
}

.top_list a
{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}



@media only screen and (min-width:991px) and (max-width: 1024px)  {
    .list{
        width: 50%;
    }
}