body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
    /*.logo {

    }
    .sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
        background-color: #2392ec;
        
    }
    .user-info-navbar .user-info-menu > li {
        border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
        color: #fff !important;
        border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
        font-size: 22px;
    }
    .mot_header_lists {
        border: 0px;
    }
    .profile_time_list {
        list-style: none;
        border: 1px solid #4e91be;
        background-color: #4e91be;
        width: 100%;
        margin-right: auto;
        margin-left: auto; 
        padding-left: 0px;
        border-radius: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
    }
    .current_stats {
        display: inline; 
        border-right: 1px solid #fff;
        padding-right: 10px;
        padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
        border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
        background-color: #f8f8f8 !important; 
        top: 24px !important;
        right: 15px !important;
        color: #53A2CA;
        min-width: 16px;
    }
    .profile_options {
        list-style: none;
    }
    .profile_options_listing {
        display: inline; 
    }
    .mot_dashboard_profile_item {
        padding-top: 20px;
        text-align: right;
        font-size: 16px;
        float: right;
    }
    .user_name {
        color: #fff;
        font-size: 14px !important;
    }
    .user_name i {
        font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }*/
    .link {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 10px;    
        float: left;
    }
    .mot_template {
        margin-left: 0px;
        margin-right: 0px;
    }
    .top_list {
        margin-right: 10px;
    }
    .top_list a {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
    }
    .top_anchor {
        font-weight: 600;
        font-size: 12px !important;
    }
    .active .top_anchor {
        color:#2392ec !important;
    }
    .active .top_anchor:focus {
        border: 0 !important;
    }
    .custom {
        padding: 10px 15px 5px 15px !important;
        margin-bottom: 10px !important;
        float: left;
        width: 100%; 
    }
    .left {
        padding-left: 0px;
        padding-right: 4px;
            width: 100%;
    }
    .center {
        padding-left: 4px;
        padding-right: 4px;
    }
    .right {
        padding-left: 4px;
        padding-right: 0px;
    }
    .temp_title {
        width: 100%;
        float: left;
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 5px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 5px rgba(0,0,0,0.2);
        border-radius: 3px;
    }
    .basic_info {
        padding: 10px 0px 0px 15px;
        font-size: 12px;
        font-weight: bold;
        border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .basic_info p {
        margin-bottom: 0px;
        padding-bottom: 9px;
            font-size: 14px;
    font-weight: 400;
    }
    .basic_info_body {
        width: 100%;
        float: left;
    }
    .basic_info_list {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f9f9f9;
    }
    .basic_info_title {
        float: left;
        padding: 10px 0px 10px 15px;
    }
    .basic_info_title p {
        font-size: 12px;
    }
    .basic_info_value {
        float: right;
        padding: 10px 15px 10px 0px;
    }
    .basic_info_value a i {
        color: #979898;
    }
    .xe-widget.xe-conversations {
        padding: 0px;
        margin-bottom: 10px;
    }
    .xe-widget.xe-conversations .xe-body ul > li
     {
        margin:0px;
         border: 0px;
    }
    .grey {
        background-color: #f5f5f5;
    }
    .float_button {
        float: right;
    }
   /* .circular_button {
        border-radius: 50%;
        bottom: 40px;
        right: 60px;
        position: fixed;
        z-index: 99;
        background-color: #2392ec;
        border: 0; 
        min-width: 60px;
        min-height: 60px;
        color: #ffffff;
    }*/
      .circular_button {
        background-color: #2392ec;
        border: 0; 
         box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.24);
        min-width: 100px;
        min-height: 40px;
        color: #ffffff;
        position: relative;
        top: -2px;
    }
       .circular_button:hover{
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.24);
      }
    .circular_button:focus {
        outline: 0;
        border: 0;
    }
    .add_temp_text {
        color: #fff;
        font-size: 9px;
        margin-bottom: 0px !important;
    }
    .fade {
        font-family: 'Open Sans';
    }
    .custom-title {
        text-align: center;
        font-weight: 300;
            color: #fff;
    font-size: 15px;
    }
    .custom-header {
        background: #2392ec;
            border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .custom-content {
        padding: 0px 30px 30px 30px !important;
            border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    }
    .custom-body {
        padding: 20px 0px 5px 0px !important;
    }
    #save_btn {
        width: 40%;
        border-radius: 3px;
        border: 0px;
        background-color: #2392ec;
    }
    .form-group {
    margin-bottom: 15px;
    }
    .custom-footer {
    padding: 0px !important;
    text-align: center;
    border-top: 0px;
}
.sort {
    width: 100%;
    float: left;
}
.arrow_background{
    float: right;
    background: url("../images/arrow.png") no-repeat right #fff;
    background-size: 4% 38%;
    background-position-x: 99%;
    background-position-y: 87%;
    border-radius: 4px;
    width: 100%;
}
.arrow_background select{
    -webkit-appearance: none;
    background: transparent;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
}
.form-control {
    color: #000;
}
.form-control:focus, .form-control:active {
    border: 1px solid #e4e4e4;
    outline: none;
}

    .right-inner-addon {
position: relative;
width: 205px;
}
.right-inner-addon input {
padding-right: 30px;
border-radius: 39px; 
height: 28px;   
}
.right-inner-addon i {
position: absolute;
right: 0px;
padding: 7px 12px;
pointer-events: none;
font-size: 13px;
}
.arrow_background1{
float: right;
background: url("image/arrow.png") no-repeat right #fff;
background-size: 11% 41%;
background-position-x: 96%;
background-position-y: 83%;
border-radius: 4px;
}
.arrow_background1 select{
border: none;
-webkit-appearance: none;
background: transparent;
color: #2392ec;
padding-right: 16px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 13px;
}

    #template_start{
        cursor: pointer;
        background: #fff;
    }
    #template_end{
        cursor: pointer;
        background: #fff;
    }
/*  .td-clock{
            top: 476px !important;
    }*/
    .error_msg{
    text-align: center; 
    font-size: 20px; 
    height: 500px; 
    margin-top: 10px;

}
 .inputdiv {
    border: 1px solid #e4e4e4;
    color: #555555;
    font-size: 12px;
    padding: 3px;
    width: 70px;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px !important;
    cursor: pointer !important;
    background: #fff!important;
}
.dropdown-menu.dropdown-primary > li > a:hover {
    background-color: rgba(158, 158, 158, 0.16);
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:active, .btn.active
{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu.dropdown-primary > li > a {
    color: #666;
}
    @media only screen and (max-width: 600px) {
        .left {
        padding-left: 0px;
        padding-right: 0px;
    }
    .center {
        padding-left: 0px;
        padding-right: 0px;
    }
    .right {
        padding-left: 0px;
        padding-right: 0px;
    }
    }
    @media (min-width: 768px) {
.custom-dialog {
    width: 380px;
    margin: 25px auto;
}
/*.templateform{
    width: 43%;
}*/
.add{
    cursor: pointer;
    font-weight: bold;
        margin-right: 12px !important; 
}
.remove{
    cursor: pointer;
    font-weight: bold;
}
.add1{
    cursor: pointer;
    font-weight: bold;
        margin-right: 12px !important;
}
.remove1
{
    cursor: pointer;
    font-weight: bold;
}
.pointer
{
    cursor: pointer !important; 
        background: #fff !important;
}
}
    .add-remove{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
            }
            .slick-prev:before, .slick-next:before {
    color: #523939;
         font-size: 30px; 
}
.wid{
        width: 318px !important;
    background: #f1f1f1;
    height: 260px !important;
    padding: 6px;
       margin-bottom: 9px;
           outline: none;
}
.wid p{
          position: relative;
    bottom: 0px;
    left: 130px;
    color: #626565;
}
.slider_btn{
    width: 60px;
    float: right;
    margin-top: -60px;
    position: relative;
        bottom: -21px
}
.add_btn{
    background: #fff;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 21px;
    outline: none;
    float: right;
    color: rgb(3, 132, 3);
}
.delete_btn{
        border: none;
    font-size: 20px;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
    color: #b74747;
    background: #f1f1f1;
}
.delete_btn1{
    border: none;
    font-size: 20px;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
    background: #f1f1f1;
    cursor: default;
    color: #f1f1f1;
}
.notallowed
{
cursor: not-allowed !important;
}
.select_box{
    //width: 100% !important;
    width:150px;
    padding: 0px;
    height: 21px;
}
/*.slick-next {
    right: -20px;
}
.slick-prev {
    left: -31px;
}*/
/*.slick-prev, .slick-next {
top: 102% !important;
}*/
.slick-dots{
    bottom: 7px !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}
.tool_tip
{
   text-align: left;
}
.space .tooltip{
    width: 170px !important;
}
.tool_tip_p
{
    text-align: left;
    color: #fff;
}
.ui-spinner-input
{
    margin: 0px !important;
}
.deploy_btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #2acd84;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  outline: none;
  border:none;
  float: left;
  margin-right: 5px;
}

.deploy_btn:hover {
  text-decoration: none;
}
.delete_btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #d93f34;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  outline: none;
  border:none;
  float: left;
}
::-webkit-scrollbar-thumb:horizontal {
    background-color:#67B0E1;
}
::-webkit-scrollbar-thumb:horizontal:hover{
    background-color:#67B0E1;
    border: solid 1px #D4D4D4;
}


.delete_btn:hover {
  text-decoration: none;
}
.no_border
{
    border:none !important;
}
.add_button_class
{
    float: right;
}
.info_icon
{
    color: #2392ec;
    font-size: 24px;
    position: relative;
    top: 8px;
    left: -8px;
    cursor: pointer;
}
.add_icon
{
    float: left;
    position: relative;
    top: 6px;
    left: 9px;
    font-size: 16px;
}
 @media screen and (min-width: 769px) and (max-width: 1300px) {
    .deploy_btn {
        float: left;
    }
    .delete_btn {
        float: left;
    }
 }
@media only screen and (min-width: 992px) and (max-width: 1300px) {
.fixed_width {
    width: 75px;
}
}
@media only screen and (min-width: 1300px) {
    .fixed_width {
    width: 74px;
}
}
.top_list a
{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}


