body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
    /*.sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
        background-color: #2392ec;
        
    }
    .user-info-navbar .user-info-menu > li {
        border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
        color: #fff !important;
        border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
        font-size: 22px;
    }
    .mot_header_lists {
        border: 0px;
    }
    .profile_time_list {
        list-style: none;
        border: 1px solid #4e91be;
        background-color: #4e91be;
        width: 100%;
        margin-right: auto;
        margin-left: auto; 
        padding-left: 0px;
        border-radius: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
    }
    .current_stats {
        display: inline; 
        border-right: 1px solid #fff;
        padding-right: 10px;
        padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
        border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
        background-color: #f8f8f8 !important; 
        top: 24px !important;
        right: 15px !important;
        color: #53A2CA;
        min-width: 16px;
    }
    .profile_options {
        list-style: none;
    }
    .profile_options_listing {
        display: inline; 
    }
    .mot_dashboard_profile_item {
        padding-top: 20px;
        text-align: right;
        font-size: 16px;
        float: right;
    }
    .user_name {
        color: #fff;
        font-size: 14px !important;
    }
    .user_name i {
        font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }*/
    .link {
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 0px;    
        float: left;
    }
    .mot_template {
        margin-left: 0px;
        margin-right: 0px;
    }
     .custom {
        padding: 15px 15px 5px 15px !important;
        margin-bottom: 10px !important;
        float: left;
        width: 100%;
        background-color: #ffffff; 
    }
    .left {
        padding-left: 0px;
        padding-right: 4px;
    }
    .center {
        padding-left: 4px;
        padding-right: 4px;
    }
    .right {
        padding-left: 4px;
        padding-right: 0px;
    }
    .temp_title {
        width: 100%;
        float: left;
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 5px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 5px rgba(0,0,0,0.2);
        border-radius: 3px;
    }
    .basic_info {
        padding: 10px 0px 0px 15px;
        font-size: 12px;
        font-weight: bold;
        border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .basic_info p {
        margin-bottom: 0px;
        padding-bottom: 9px;
            font-size: 14px;
    font-weight: 400;
    }
    .basic_info_body {
        width: 100%;
        float: left;
    }
    .basic_info_list {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f9f9f9;
    }
    .basic_info_title {
        float: left;
        padding: 10px 0px 10px 15px;
    }
    .basic_info_title p {
        font-size: 12px;
            margin: 0px;
    }
    .basic_info_value {
        float: right;
        padding: 10px 15px 10px 0px;
    }
     .basic_info_value a i {
        color: #979898;
    }
    .xe-widget.xe-conversations {
        padding: 0px;
        margin-bottom: 10px;
    }
    .xe-widget.xe-conversations .xe-body ul > li
     {
        margin:0px;
         border: 0px;
    }
    .grey {
        background-color: #f5f5f5;
    }
    .float_button {
        float: right;
    }
  /*  .circular_button {
        border-radius: 50%;
        bottom: 40px;
        right: 60px;
        position: fixed;
        z-index: 99;
        background-color: #2392ec;
        border: 0; 
         box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.24);
        min-width: 60px;
        min-height: 60px;
        color: #ffffff;
    }*/
      .circular_button {
        background-color: #2392ec;
        border: 0; 
         box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.5),0 1px 1px 0 rgba(0,0,0,.24);
        min-width: 100px;
        min-height: 40px;
        color: #ffffff;
        position: relative;
        top: -2px;
    }
    .circular_button:focus {
        outline: 0;
        border: 0;
    }
    .add_temp_text {
        color: #fff;
        font-size: 9px;
        margin-bottom: 0px !important;
    }
    .fade {
        font-family: 'Open Sans';
    }
    .custom-title {
        text-align: center;
        font-weight: 300;
            color: #fff;
    font-size: 15px;
    }
    .top_list {
        margin-right: 10px;
    }
    .top_list a {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
    }
    .top_anchor {
        font-weight: 600;
        font-size: 12px !important;
    }
    .active .top_anchor {
        color:#2392ec !important;
    }
    .active .top_anchor:focus {
        border: 0 !important;
    }
    .custom-header {
        background: #2392ec;
            border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .custom-content {
        padding: 0px 30px 30px 30px !important;
            border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    }
    .custom-body {
        padding: 20px 0px 5px 0px !important;
    }
    #save_btn {
        width: 50%;
        border-radius: 3px;
        border: 0px;
        font-size: 15px;
        background-color: #2392ec;
    }
    .form-group {
    margin-bottom: 25px;
    }
    .form-control {
    color: #000;
        width: 100%;
}
.float_left {
    float: left;
}
input[type="checkbox"].iswitch {
    margin-left: 10px;
}
.form-control:focus, .form-control:active {
    border: 1px solid #e4e4e4;
    outline: none;
}
.extra_margin {
    margin-bottom: 15px;
}
  .radio-inline {
    padding-left: 5px;
        color: #000
  }
    .custom-footer {
    padding: 0px !important;
    text-align: center;
    border-top: 0px;
}
  .cbr-replaced.cbr-blue.cbr-checked.cbr-radio .cbr-state span {
    background: #2392ec;
}
.cbr-replaced.cbr-blue .cbr-state {
    border-color: #2392ec;
}
.no_padding {
    padding-right: 0px;
    padding-left: 0px;
}
.lab {
    background: #e6e6e6;
    padding: 0px 2px;
    margin-top: -3px;
}
.t_align {
    text-align: center;
}
.custom_box {
    width: 62px;
    display: inline;
    height: 26px;
    padding: 2px 6px;
        margin-bottom: 7px;
}
input[type="checkbox"].iswitch {
    width: 26px;
    height: 12px;
    background: #B9B7B8;
        box-shadow: inset 0 0 0 2px transparent;
}
input[type="checkbox"].iswitch:before {
    width: 14px;
    height: 14px;
        margin: -1px 0 3px 0px;
}
input[type="checkbox"].iswitch:active:before, input[type="checkbox"].iswitch.touch:hover:before {
    width: 14px;
    background-color: #2392ec; 
}
input[type="checkbox"].iswitch.iswitch-info:checked:before {
    background-color: #2392ec;
}
.ftm_data {
    display: none;
}
.lab_data {
    display: none;
}
.input_class {
        width: 60px;
    border: 0px;
    padding: 2px 3px 2px 4px;
    background: #e6e6e6;
    margin-top: -3px;
}
.input_class:active, .input_class:focus {
    border: 0px;
    outline: 0px;
}
.center_align {
    text-align: center;
}
.input-3 {
    display: none;
}
    @media only screen and (max-width: 600px) {
        .left {
        padding-left: 0px;
        padding-right: 0px;
    }
    .center {
        padding-left: 0px;
        padding-right: 0px;
    }
    .right {
        padding-left: 0px;
        padding-right: 0px;
    }
    }
    @media (min-width: 768px) {
.custom-dialog {
    width: 380px;
    margin: 105px auto;
}
}
    .right-inner-addon {
position: relative;
width: 205px;
}
.right-inner-addon input {
padding-right: 30px;
border-radius: 39px; 
height: 28px;   
}
.right-inner-addon i {
position: absolute;
right: 0px;
padding: 7px 12px;
pointer-events: none;
font-size: 13px;
}
.arrow_background{
float: right;
background: url("image/arrow.png") no-repeat right #fff;
background-size: 11% 41%;
background-position-x: 96%;
background-position-y: 83%;
border-radius: 4px;
}
.arrow_background select{
border: none;
-webkit-appearance: none;
background: transparent;
color: #2392ec;
padding-right: 16px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 13px;
}
.error_msg{
text-align: center; 
font-size: 20px; 
height: 500px; 
margin-top: 10px;
}
.dropdown-menu.dropdown-primary > li > a:hover {
    background-color: rgba(158, 158, 158, 0.16);
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:active, .btn.active
{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu.dropdown-primary > li > a {
    color: #666;
}
.tool_tip
{
   padding-left: 15px;
   text-align: left;
}
.space .tooltip{
    width: 170px !important;
}
.tool_tip_p
{
    text-align: left;
    color: #fff;
}
.ui-spinner-input
{
    margin: 0px !important;
}
.deploy_btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #2acd84;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  outline: none;
  border:none;
  float: left;
}

.deploy_btn:hover {
  text-decoration: none;
}
.delete_btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #d93f34;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  outline: none;
  border:none;
  float: left;
}

.delete_btn:hover {
  text-decoration: none;
}
.no_border
{
    border:none !important;
}
.add_button_class
{
    float: right;
}
.info_icon
{
    color: #2392ec;
    font-size: 24px;
    position: relative;
    top: 8px;
    left: -8px;
    cursor: pointer;
}
.add_icon
{
    float: left;
    position: relative;
    top: 6px;
    left: 9px;
    font-size: 16px;
}
@media only screen and (min-width: 992px) and (max-width: 1300px) {
.fixed_width {
    width: 75px;
}
}
@media only screen and (min-width: 1300px) {
    .fixed_width {
    width: 74px;
}
}
.top_list a
{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}