body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
    
    /*.sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
    	background-color: #2392ec;
    	
    }
    .user-info-navbar .user-info-menu > li {
    	border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
    	color: #fff !important;
    	border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
    	font-size: 22px;
    }
    .mot_header_lists {
    	border: 0px;
    }
    .profile_time_list {
    	list-style: none;
    	border: 1px solid #4e91be;
    	background-color: #4e91be;
    	width: 100%;
    	margin-right: auto;
    	margin-left: auto; 
    	padding-left: 0px;
    	border-radius: 20px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	font-size: 12px;
    }
    .current_stats {
    	display: inline; 
    	border-right: 1px solid #fff;
    	padding-right: 10px;
    	padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
    	border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
    	background-color: #f8f8f8 !important; 
    	top: 24px !important;
    	right: 15px !important;
    	color: #53A2CA;
    	min-width: 16px;
    }
    .profile_options {
    	list-style: none;
    }
    .profile_options_listing {
     	display: inline; 
    }
    .mot_dashboard_profile_item {
     	padding-top: 20px;
     	text-align: right;
     	font-size: 16px;
     	float: right;
    }
    .user_name {
     	color: #fff;
     	font-size: 14px !important;
    }
    .user_name i {
    	font-size: 14px !important;
    }*/
    .mot_dashboard_content {
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .mot_profile_content {
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .fill {
        width: 100%;
        float: left;
    }
    .employee_picture {
        float: left;
       
    }
    .employee_data {
        float: left;
        /*text-align: center;*/
    }
    .profile_data {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        box-shadow: 2px 2px 3px #cdcdcd;
        border-radius: 3px;
        min-height: 226px;
    }
    .profile_heading {
        padding-top: 5px;
        background-color: #f9f9f9;
    }
    .profile_heading p {
        margin-bottom: 0px;
        font-size: 12px;
    }
    .profile_body ul{
        margin-bottom: 0px;
    }
    .mot_day_stats {
        border-bottom: 1px solid #f9f9f9;
        width: 100%;
        float: left;
        padding: 5px 0px 5px 0px;
    }
    .mot_day_stats p{
        margin-bottom: 3px;
        font-weight: 500;
    }
    .employee_info {
        width: 100%;
        float: left;
    }
    .profile_picture {
    float: left;
    background-size: auto 100% !important;
    height: 240px;
    width: 100%;
    box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .profile_name {
    float: left;
    width: 100%;
    background: white;
    margin: 6px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 2px 2px 3px #cdcdcd;
    text-align: center;
    border-radius: 3px;
    }
    .profile_picture img{
        width: 100%;
    }
    .xe-widget.xe-conversations {
        padding: 0px;
        margin-bottom: 10px;
    }
    .about_user {
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }
    .xe-widget.xe-status-update {
        padding: 15px 20px 0px 20px;
        min-height: 217px;
        background-color: #ffffff;
        margin-bottom: 10px;
        box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .user_info {
        font-size: 12px;
        text-align: justify;
    }
    .xe-widget.xe-counter .xe-label .num {
        font-size: 32px;
        line-height: 1.5em;
    }
    .xe-widget.xe-counter .xe-label {
        padding-top: 6px;
    }
    .xe-widget.xe-vertical-counter {
        padding: 0px;
        padding-top: 20px;
        min-height: 217px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .xe-widget.xe-vertical-counter .xe-icon {
        font-size: 0px;
        padding-bottom: 0px;
    }
    .xe-widget.xe-vertical-counter .xe-label .num{
        font-size: 36px;
    }
    .xe-widget.xe-vertical-counter.xe-label span {
        padding-bottom: 12px;
    font-size: 12px;
    }
    .mot_time_graph {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .mot_graph_heading {
    border-bottom: 1px solid #eee;
    width: 100%;
    float: left;
    padding-top: 10px;
    background-color: #f9f9f9;
    }
    .graph_heading{
        padding: 0px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .graph_header {
        padding-left: 20px !important;
        font-size: 12px !important;
        padding-bottom: 0px !important;
        font-weight: 600;
        float: left;
        border-bottom: 0px !important;
    }
    .graph_attributes {
        float: right;
        display: inline-block;
    }
    .graph_attributes a {
        margin-right: 10px;
    }
    .aqua_blue {
        height: 12px;
        width: 35px;
        background-color: #4fcdfc;
        margin-right: 10px;
        display: inline-block;
    }
    .purple {
        height: 12px;
        width: 35px;
        background-color: #7c38bc;
        margin-right: 10px;
        display: inline-block;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }
    .panel .panel-body {
        padding-top: 40px;
    }
    .xe-widget.xe-counter {
        margin-bottom: 10px;
        box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .xe-widget.xe-conversations .xe-body ul > li
     {
        margin:0px;
         border: 0px;
    }
    .list-unstyled {
    }
    .large {
        font-size: 30px;
    }
    .para {
        width: 100%;
        float: left;
        padding: 5px 10px 5px 10px;
    }
    .break {
        padding-top: 25px;
        height: 65px;
        margin-bottom: 10px;
    }
    .grey {
        background-color: #f9f9f9; 
    }
    .end {
        border-bottom: 0px !important;
    }
    .basic_information {
        width: 100%;
        float: left;
        box-shadow: 2px 2px 3px #cdcdcd;
        border-radius: 3px;
        min-height: 226px;
    }
    .basic_info {
        padding: 10px 0px 0px 15px;
        font-size: 12px;
        font-weight: bold;
    }
    .basic_info p {
        color: #000;
        margin-bottom: 0px;
        padding-bottom: 9px;
    }
    .basic_info_body {
        width: 100%;
        float: left;
    }
    .basic_info_list {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f9f9f9;
    }
    .basic_info_title {
        width: 40%;
        float: left;
        padding: 10px 0px 0px 15px;
    }
    .basic_info_value {
        width: 60%;
        float: left;
        padding: 10px 0px 0px 0px;
    }
    .day_info_title {
        width: 50%;
        float: left;
        padding: 5px 0px 0px 15px;
    }
    .day_info_value {
        width: 50%;
        float: left;
        padding: 5px 15px 0px 0px;
        text-align: right;
    }
    .address_information {
        width: 100%;
        float: left;
        min-height: 189px;
        box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .address_info {
        padding: 10px 0px 0px 15px;
        font-size: 12px;
        font-weight: bold;

    }
    .address_info p {
        color: #000;
            margin-bottom: 0px;
    padding-bottom: 10px;
    }
    .address_info_body {
        width: 100%;
        float: left;
    }
    .address_info_list {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f9f9f9;
    }
    .address_info_title {
        width: 35%;
        float: left;
        padding: 10px 0px 0px 15px;
    }
    .address_info_value {
        width: 65%;
        float: left;
        padding: 10px 0px 0px 0px;
    }
    .monthly_balance {
        min-height: 189px !important;
        padding-top: 15px !important;
        box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .monthly_balance .xe-label .num {
        font-size: 32px !important;

    }
    .monthly_balance .xe-label {
        padding-top: 10px !important;
    }
    .activity_body {
        width: 100%;
        float: left;
        min-height: 226px;
        box-shadow: 2px 2px 3px #cdcdcd;
    border-radius: 3px;
    }
    .activity {
        width: 100%;
        float: left;
        padding: 10px 10px 0px 10px;
        font-size: 14px;
    }
    .activity_title {
        float: left;
    }
    .date {
        float: right;
    }
    .time_left {
        width: 50%;
        float: left;
        text-align: center;

    }
    .time_right {
        width: 50%;
        float: left;
        border-left: 1px ridge #eee;
        padding-bottom: 24px
    }
    .activity_left{
        float: left;
        font-size: smaller;
    }
    .activity_right {
        float: right;
    }
    .center {
        text-align: center;
    }
    .time_left p{
        margin-bottom: 0px;
    }
    .time_right p{
        margin-bottom: 0px;
    }
    .medium {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .icon_padding {
        padding: 15px !important;
    }
    @media screen and (min-width: 320px) and (max-width: 768px)  {
        .mobile-menu-toggle {
            padding-top: 10px;
            padding-right: 10px;
        }
        .employee_picture {
            width: 100%;
            float: left;
            margin-bottom: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .employee_data {
            width: 100%;
            float: left;
            padding-left: 0px;
            padding-right: 0px;
        }
        .employee_whole {
            padding-left: 0px;
            padding-right: 0px;
        }
        .employee_left {
            padding-left: 0px;
            padding-right: 0px;
        }
        .employee_center {
            padding-left: 0px;
            padding-right: 0px;
        }
        .employee_right {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    @media screen and (min-width: 786px) {
        .employee_picture {
             padding-left: 0px;
        padding-right: 0px;
        }
        .employee_data {
             padding-left: 3px;
        padding-right: 0px;
        }
        .employee_left {
            padding-left: 0px;
            padding-right: 5px;
        }
        .employee_right {
            padding-left: 5px;
            padding-right: 0px;
        }
        .employee_whole {
            padding-left: 0px;
            padding-right: 0px;
        }
        .employee_center {
            padding-left: 5px;
            padding-right: 5px;
        }
        /*.tabs {
            border-left: 1px solid #f5f5f5;
        }*/
    }
    @media screen and (min-width: 786px) and (max-width: 1200px) {
        .para {
            font-size: 11px;
        }
        .time_right {
            padding-bottom: 33px;
        }
    }

.listing_link
{
    font-size: 13px;
    color: #2392ec;
    margin-left: 5px;
    margin-right: 5px;
}
.listing_link_div{
      width: 100%;
    float: left;
    margin-top: 3px;
    margin-bottom: 7px;
    background: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
}
a:focus
{
    text-decoration: none !important;
}