body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
  
   /* .sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
    	background-color: #2392ec;
    	
    }
    .user-info-navbar .user-info-menu > li {
    	border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
    	color: #fff !important;
    	border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
    	font-size: 22px;
    }
    .mot_header_lists {
    	border: 0px;
    }
    .profile_time_list {
    	list-style: none;
    	border: 1px solid #4e91be;
    	background-color: #4e91be;
    	width: 100%;
    	margin-right: auto;
    	margin-left: auto; 
    	padding-left: 0px;
    	border-radius: 20px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	font-size: 12px;
    }
    .current_stats {
    	display: inline; 
    	border-right: 1px solid #fff;
    	padding-right: 10px;
    	padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
    	border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
    	background-color: #f8f8f8 !important; 
    	top: 24px !important;
    	right: 15px !important;
    	color: #53A2CA;
    	min-width: 16px;
    }
    .profile_options {
    	list-style: none;
    }
    .profile_options_listing {
     	display: inline; 
    }
    .mot_dashboard_profile_item {
     	padding-top: 20px;
     	text-align: right;
     	font-size: 16px;
     	float: right;
    }
    .user_name {
     	color: #fff;
     	font-size: 14px !important;
    }
    .user_name i {
    	font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }*/
    .mot_price_content {
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 25px;
    }
    .heading {
        padding-top: 17px;
        color: #fff;
        font-size: 14px;
    }
    .pricing_panel_sub_heading {
        color: #fff;
        font-size: 40px;
        padding-top: 25px;
        padding-bottom: 5px;
        font-weight: 100;
    }
    .text {
        font-size: 40px;
        color: #fff;
    }
    .tiny {
        font-size: 32px;

    }
    .pricing_table {
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 20px;
        transition: 0.5s all;
        float: left;
    }
    .whole {
        width: 100%;
        float: left;
        height: 588px;
        text-align: center;
        background-color: #f9f9f9;
        border-radius: 8px;
    }
    .pricing_panel {
        width: 100%;
        float: left;
        height: 308px;
        background-size: 100%;
        background-repeat: no-repeat;

    }
    .reset_panel {
        width: 100%;
        float: left;
        height: 238px;
        background-size: 100%;
        background-repeat: no-repeat;

    }
    
    .pricing_panel-heading {
        width: 100%;
        float: left;
    }
    .pricing_panel_sub_heading {
        width: 100%;
        float: left;
    }
    .pricing_panel_listing {
        width: 100%;
        float: left;
        

    }
    .subscribe_button {
        width: 100%;
        float: left;
    }
    .sub_btn {
        width: 80%;
        outline: none;
        border: 1px solid #ccc;
        padding: 10px 20px 10px 20px;
        color: #555;
        background-color: #eee;
        border-radius: 3px;
        font-size: 14px;
        
    }
    .panel_list {
        width: 100%;
        float: left;
        text-align: left;
        
    }
    .list-unstyled {
        margin-top: 11px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    
    }    
    .panel_list .list-unstyled li {
        padding-top: 9px;
        padding-bottom: 2px;
        font-size: 12px;
        padding-left: 15px;
        font-weight: 600;
        border-bottom: 1px solid #eee;
    }
    .text_list {
      font-size: 12px;
        font-weight: 600;
    }
    .end {
        border-bottom: 0px !important;
        border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    }
    .grey {
        background-color: #f5f5f5; 
    }
  

    .ribbon-wrapper-yellow {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-yellow {
  color: #000;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 8px 0;
  left: -7px;
  top: 15px;
  width: 120px;
  background-color: #f4de27; 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-yellow:before, .ribbon-yellow:after {
  content: "";   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-yellow:before {
  left: 0;
}
.ribbon-yellow:after {
  right: 0;
}
    .ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  color: #000;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 8px 0;
  left: -7px;
  top: 15px;
  width: 120px;
  background-color: #18c481; 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";  
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
    .ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-red {
  color: #000;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 8px 0;
  left: -7px;
  top: 15px;
  width: 120px;
  background-color: #e82541; 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-red:after {
  right: 0;
}

  .ribbon-wrapper-blue {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
.ribbon-blue {
  color: #000;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 8px 0;
  left: -7px;
  top: 15px;
  width: 120px;
  background-color: #5dc6f5;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);*/ 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-blue:before, .ribbon-blue:after {
  content: "";   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-blue:before {
  left: 0;
}
.ribbon-blue:after {
  right: 0;
}
    
    @media screen and (min-width: 786px) {
    .whole:hover .pricing_panel {
        background-position: 0px -316px;
        height: 322px;
        border-radius: 8px;
    }
    .whole:hover .reset_panel {
        background-position: -1px 0px;
    }
    .whole:hover {
        -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
        -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
        box-shadow: 0 0 10px rgba(0,0,0, .65);
        transition: box-shadow 0.5s ease-in-out;
        height:603px;
        margin-top: -14px;
    }
    .whole:hover .ribbon-wrapper-yellow {
        top: -19px;
    }
    .whole:hover .ribbon-wrapper-green {
        top: -19px;
    }.whole:hover .ribbon-wrapper-red {
        top: -19px;
    }.whole:hover .ribbon-wrapper-blue {
        top: -19px;
    }

    .on_load .pricing_panel{
         background-position: 0px -316px;
        height: 322px;
        border-radius: 8px;
    }
    .on_load .reset_panel {
        background-position: -1px 0px;
    }
    .on_load {
        -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
        -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
        box-shadow: 0 0 10px rgba(0,0,0, .65);
        transition: box-shadow 0.5s ease-in-out;
        height:603px;
        margin-top: -14px;
    }
    .on_load #btn3 {
        background-color: #686868;
         border: 1px solid #686868;
        color: #fff;
    }
    .on_load .ribbon-wrapper-red {
        top: -19px;
    }

    .column1:hover {
        z-index: 9999;
        transform: scale(1.03);
    }
    .column2:hover {
        z-index: 9999;
        transform: scale(1.03);
    }
    .column3:hover {
        z-index: 9999;
        transform: scale(1.03);
    }
    .column4:hover {
        z-index: 9999;
        transform: scale(1.03);
    }
    .whole:hover #btn1 {
        background-color: #7BC04F;
         border: 1px solid #7BC04F;
        color: #fff;
    } 
    .whole:hover #btn2 {
        background-color: #63B5DA;
         border: 1px solid #63B5DA;
        color: #fff;
    }
    .whole:hover #btn3 {
        background-color: #62C3B1;
         border: 1px solid #62C3B1;
        color: #fff;
    }
    .whole:hover #btn4 {
        background-color: #686868;
         border: 1px solid #686868;
        color: #fff;
    }
    .whole:hover .pricing_table {
        padding-left: 2px;
        padding-right: 2px;
    }
    
}
    @media screen and (min-width: 769px) and (max-width: 1299px) {
        .pricing_panel {
        height: 248px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .pricing_panel_height {
        height: 238px;
    }
    .on_load .pricing_panel_height {
        height: 240px !important;
    }
    .on_load .pricing_panel_listing {
        margin-top: 12px;
    }
    .on_load .reset_panel {
        background-position: -1px 0px !important;
    }
    .on_load .pricing_panel {
        height: 248px;
        background-position: -1px 0px;
    }

    .whole:hover .pricing_panel_height {
        height: 240px !important;
    }
    .whole:hover .pricing_panel_listing {
        margin-top: 12px;
    }
    .whole:hover .reset_panel {
        background-position: -1px 0px !important;
    }
    .whole:hover .pricing_panel {
        height: 248px;
        background-position: -1px 0px;
    }
    }
 @media screen and (min-width: 320px) and (max-width: 768px)  {
        .mobile-menu-toggle {
            padding-top: 10px;
            padding-right: 10px;
        }
        .pricing_table {
            float: left;
        }
    }
 @media screen and (min-width: 992px) and (max-width: 1024px) {
    .left-links {
        width: 10%;
        padding-left: 10px;
    }

    .profile_time_list{
      display: none;
    }

    #modal_box_display{
      float: left;
    }

    .mot_dashboard_profile_time{
      width: 50% !important;
    }

 }
