body {
        font-family: 'Open Sans';
    }
    .logo-env {
        text-align: center;
        background-color: #fff;
    }
    /*.sidebar-menu {
        width: 275px;
    }
    .mot_dashboard_profile_inner {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .user-info-navbar {
    	background-color: #2392ec;
    	
    }
    .user-info-navbar .user-info-menu > li {
    	border: 0px;
    }
    .user-info-navbar .user-info-menu > li > a {
    	color: #fff !important;
    	border-bottom: 0px;
    }
    .user-info-navbar .user-info-menu > li > a i {
    	font-size: 22px;
      color: #fff !important;
    }
    .mot_header_lists {
    	border: 0px;
    }
    .profile_time_list {
    	list-style: none;
    	border: 1px solid #4e91be;
    	background-color: #4e91be;
    	width: 100%;
    	margin-right: auto;
    	margin-left: auto; 
    	padding-left: 0px;
    	border-radius: 20px;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	font-size: 12px;
    }
    .current_stats {
    	display: inline; 
    	border-right: 1px solid #fff;
    	padding-right: 10px;
    	padding-left: 10px;
        color: #fff;
    }
    .current_stats_font{
        font-family: 'Open Sans' !important;
    }
    .left-links {
        width: 10%;
    }
    .right-links {
    }

    .last {
    	border-right: 0;
    }
    .notif_mobile {
        background-color: #f8f8f8 !important;
        color: #53A2CA;
    }
    .notif {
    	background-color: #f8f8f8 !important; 
    	top: 24px !important;
    	right: 15px !important;
    	color: #53A2CA;
    	min-width: 16px;
    }
    .profile_options {
    	list-style: none;
    }
    .profile_options_listing {
     	display: inline; 
    }
    .mot_dashboard_profile_item {
     	padding-top: 20px;
     	text-align: right;
     	font-size: 16px;
     	float: right;
    }
    .user_name {
     	color: #fff;
     	font-size: 14px !important;
    }
    .user_name i {
    	font-size: 14px !important;
    }
    .user-info-navbar {
        margin-bottom: 15px;
        margin: 0px;

    }
    .page-container .main-content {
        padding: 0px;
    }*/
    .link {
        padding-top: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 10px;    
        float: left;
    }
    .reports {
        margin-left: 0px;
        margin-right: 0px;
    }
    .report_variants {
        padding-left: 4px;
        padding-right: 4px;
    }
    .start {
        padding-left: 0px;
    }
    .end {
        padding-right: 0px;
    }
    .fields {
        box-shadow: 2px 2px 3px #cdcdcd;
        margin-bottom: 10px !important;
    }
    .text_fields {
        padding: 17px 0px 10px 10px !important;
        font-size: smaller;
    }
    .icon_fields {
            padding: 7px 10px 5px 0px !important;
    }
    .split_icon {
        width: 45px;
        height: 45px;
        float: left;
    }
    .fields:hover .split_icon {
        background-position: 0px -46px !important;
        cursor: pointer;
    }
    .fields:hover .text_fields p {
        color: #67B0E1;
        cursor: pointer; 
    }
    .center {
        text-align: center;
    }
    .small_strong {
        font-size: smaller;
        color: #000;
        font-weight: 600;
    }
    .grey {
        background-color: #f5f5f5;
    }
    .tiny {
        /*font-size: x-small;*/
    }
    .white {
        background-color: #ffffff;
    }
    .table > thead > tr > td, .table > thead > tr > th {
        border-bottom: 0px;
    }
    .table > thead > tr > td, .table > tbody > tr > td, .table > thead > tr > th, .table > tbody > tr > th {
        text-align: center;
            padding: 10px 0px;
    }
     .table > tbody > tr > td {
        color: #000;
     }
     .shadow {
         box-shadow: 2px 2px 3px #cdcdcd;
     }
     .first {
        padding-left: 0px;
        padding-right: 0px;
     }
     .second {
         padding-left: 0px;
        padding-right: 0px;
        background: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 2px 2px 3px #cdcdcd;
     }
     .third {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 1px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
     }
     .fourth {
        padding-left: 0px;
        padding-right: 0px;
       
     }
     .fill {
        width: 100%;
        float: left;
     }
     .half {
        padding-left: 0px;
        padding-right: 0px;
     }
     form {
        display:block;
     }
     .box {
        width: 74%;
        float: left;
     }
     .date_box {
            padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px !important;
    padding-top: 5px;
    height: 27px !important;
        text-align: center;
     }
     .input_label {
        padding-top: 5px;
        float: left;
        padding-right: 2px;
     }
     .form-control {
    color: #000;
}
.cbr-replaced.cbr-blue.cbr-checked.cbr-radio .cbr-state span {
    background: #2392ec;
}
.cbr-replaced.cbr-blue .cbr-state {
    border-color: #2392ec;
}
.radio-inline {
    padding-left: 5px;
        color: #000
  }
.showing_text {
    float: left;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th
{

  background: #fff;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th
{

  background: #f6f8f7;
}
.dataTables_wrapper .table thead > tr .sorting, .dataTables_wrapper .table thead > tr .sorting_asc, .dataTables_wrapper .table thead > tr .sorting_desc {
  background: #f6f8f7;
}
.over {
  padding: 0px;
}
.dataTables_wrapper table.dataTable thead > tr > th {
  padding-right: 0px;
  padding-left: 0px;
}
.dataTables_wrapper .table thead > tr .sorting:before, .dataTables_wrapper .table thead > tr .sorting_asc:before, .dataTables_wrapper .table thead > tr .sorting_desc:before {
  content: '';
}
a:hover, a:focus {
  text-decoration: none !important;
}
.hover_color .fields .split_icon {
        background-position: 0px -46px !important;
        cursor: pointer;
    }

    .hover_color .fields .text_fields p {
        color: #67B0E1;
        cursor: pointer; 
    }
@media only screen and (min-width: 768px) {
  .report_variants {
  /*  width: 20%;*/
  }
}
@media only screen and (max-width: 768px) {
  .report_variants {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.total_values{
        background:#d1d1d1 !important;
}

@media only screen and (min-width:993px) and (max-width: 1024px)  {
    .padresponse{
        width: 60% !important;
    }
}