
    .link {
        padding-top: 10px;
    }
    .template_link {
        color: #2392ec;
    }
    .template_link a {
        color: #2392ec;
    }
    .content {
        margin-top: 10px;    
        float: left;
    }
    .reports {
        margin-left: 0px;
        margin-right: 0px;
    }
    .report_variants {
        padding-left: 4px;
        padding-right: 4px;
    }
    .start {
        padding-left: 0px;
    }
    .end {
        padding-right: 0px;
    }
    .fields {
        box-shadow: 2px 2px 3px #cdcdcd;
        margin-bottom: 10px !important;
    }
    .text_fields {
        padding: 17px 0px 10px 10px !important;
        font-size: smaller;
    }
    .icon_fields {
            padding: 7px 10px 5px 0px !important;
    }
    .split_icon {
        width: 45px;
        height: 45px;
        float: left;
    }
    .fields:hover .split_icon {
        background-position: 0px -46px !important;
        cursor: pointer;
    }
    .fields:hover .text_fields p {
        color: #67B0E1;
        cursor: pointer; 
    }
    .center {
        text-align: center;
    }
    .small_strong {
        font-size: smaller;
        color: #000;
        font-weight: 600;
    }
    .grey {
        background-color: #f5f5f5;
    }
    .tiny {
       /* font-size: x-small;*/
    }
    .white {
        background-color: #ffffff;
    }
    .table > thead > tr > td, .table > thead > tr > th {
        border-bottom: 0px;
    }
    .table > thead > tr > td, .table > tbody > tr > td, .table > thead > tr > th, .table > tbody > tr > th {
        text-align: center;
            padding: 10px 0px;
    }
     .table > tbody > tr > td {
        color: #000;
     }
     .shadow {
         box-shadow: 2px 2px 3px #cdcdcd;
     }
     .first {
        padding-left: 0px;
        padding-right: 0px;
     }
     .second {
         padding-left: 0px;
        padding-right: 0px;
        background: #fff;
        padding-top: 0px;
        padding-bottom: 0px;
        box-shadow: 2px 2px 3px #cdcdcd;
     }
     .third {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 1px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
     }
     .fourth {
        padding-left: 0px;
        padding-right: 0px;
       
     }
     .fill {
        width: 100%;
        float: left;
     }
     .half {
        padding-left: 0px;
        padding-right: 0px;
     }
     form {
        display:block;
     }
     .box {
        width: 30%;
        float: left;
     }
     .date_box {
            padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px !important;
    padding-top: 5px;
    height: 27px !important;
        text-align: center;
     }
     .input_label {
        padding-top: 5px;
        float: left;
        padding-right: 2px;
     }
     .form-control {
    color: #000;
}
.cbr-replaced.cbr-blue.cbr-checked.cbr-radio .cbr-state span {
    background: #2392ec;
}
.cbr-replaced.cbr-blue .cbr-state {
    border-color: #2392ec;
}
.radio-inline {
    padding-left: 5px;
        color: #000;
  }
.showing_text {
    float: left;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th
{

  background: #fff;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th
{

  background: #f6f8f7;
}
.dataTables_wrapper .table thead > tr .sorting, .dataTables_wrapper .table thead > tr .sorting_asc, .dataTables_wrapper .table thead > tr .sorting_desc {
  background: #f6f8f7;
}
.over {
  padding: 0px;
}
/*.dataTables_wrapper table.dataTable thead > tr > th {
  padding-right: 0px;
  padding-left: 0px;
}*/
.dataTables_wrapper .table thead > tr .sorting:before, .dataTables_wrapper .table thead > tr .sorting_asc:before, .dataTables_wrapper .table thead > tr .sorting_desc:before {
  content: '';
}
a:hover, a:focus {
  text-decoration: none !important;
}
.hover_color .fields .split_icon {
        background-position: 0px -46px !important;
        cursor: pointer;
    }

    .hover_color .fields .text_fields p {
        color: #67B0E1;
        cursor: pointer; 
    }
@media only screen and (min-width: 768px) and (max-width: 1300px) {
/*  .report_variants {
    width: 20%;
  }*/
  .box {
        width: 29%;
      }
  .box input {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
  }
  .filtered {
    width: 168px;
    padding-top: 10px;
  }
  .btn-mobileSelect-gen {
    width: 119px !important;
  }
}
@media only screen and (max-width: 768px) {
  .report_variants {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.total_values{
        background:#d1d1d1 !important;
}
.total_values1{
        background:#9c9b9b !important;
}
.sub_total_values{
        background:#eaeaea !important;
}
.align_right{
  text-align: right !important;
}
.align_left{
  text-align: left !important;
}
.align_left_tr {
    text-align: left !important;
    padding-left: 10px !important;
}
.center_align
{
  text-align:  center !important; 
}


@media only screen and (min-width:993px) and (max-width: 1024px)  {
    .padfirst{
        width: 50% !important;
    }

    .padcenter{
        width: 50% !important;
    }

    .padlast{
        width: 50% !important;
    }

    .padlastfloat{
      float: left !important;
    }

    .btn-mobileSelect-gen{
      width: 135px !important;
    }
}